<div class="container-fluid" style="background:#FCFBFB;padding:0px;padding-bottom:50px;">
    <div class="container-fluid" style="padding:0px;">
        <div class="container containerInfoContact">

            <!--__________________________CALL contact DIV__________________________-->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <p style="margin:0%;"><span class="abegeil">Abegeil </span><span class="Padilla">Padilla</span></p>
                    <div style="margin-bottom:30px;">
                        <p class="infocontact" style="margin:0%;">Get in touch with us about making a reservation. 
                            We'll be happy to help and provide assistance with any enquiries you may have.</p>
                    </div>

                    <!--__________________________CALL contact__________________________-->
                    <div style="margin-bottom:40px;">

                        <div style="display:flex;margin-bottom:12px;">
                            <div style="width:5%;display:flex;justify-content: center;align-items: center;margin-right:5px;">
                                <img src="/assets/icon/call.png" class="img-fluid" style="max-height:20px;" />
                            </div>
                            <div style="width:90%;"><span class="callnumemail">+63 (02) 8888 - (6342)</span></div>
                        </div>

                        <div style="display:flex;margin-bottom:12px;">
                            <div style="width:5%;display:flex;justify-content: center;align-items: center;margin-right:5px;">
                                <img src="/assets/icon/call.png" class="img-fluid" style="max-height:20px;" />
                            </div>
                            <div style="width:90%;"><span class="callnumemail">+63 (09) 18 6677 538</span></div>
                        </div>
                        
                        <div style="display:flex;margin-bottom:12px;">
                            <div style="width:5%;display:flex;justify-content: center;align-items: center;margin-right:5px;">
                                <img src="/assets/icon/calendar.png" class="img-fluid" style="max-height:20px;" />
                            </div>
                            <div style="width:90%;"><span class="callnumemail">kylevelarde374@gmail.com</span></div>
                        </div>

                        <div style="display:flex;margin-bottom:12px;">
                            <div style="width:5%;display:flex;justify-content: center;align-items: center;margin-right:5px;">
                                <img src="/assets/icon/calendar.png" class="img-fluid" style="max-height:20px;" />
                            </div>
                            <div style="width:90%;"><span class="callnumemail">Monday to Saturday, 8:00 am - 8:00 pm</span></div>
                        </div>
                    </div>

                    <!--__________________________ICON facebook, instagram and twitter__________________________-->
                    
                    <div style="display:flex;justify-content: center;">
                        <div class="row">
                            <div class="col-4" style="max-width:90px;">
                                <img src="/assets/icon/facebook.png" class="img-fluid"  />
                            </div>
                            <div class="col-4" style="max-width:105px;">
                                <img src="/assets/icon/instagram.png" class="img-fluid"  />
                            </div>
                            <div class="col-4" style="max-width:90px;">
                                <img src="/assets/icon/twitter.png" class="img-fluid"  />
                            </div>
                        </div>
                    </div>

                </div>

                <!--__________________________CALL contact icon__________________________-->
                <div class="col-lg-6 col-md-6 col-12" style="display: flex;justify-content: center;align-items: center;">
                    <img src="/assets/icon/contacticon1.png" class="img-fluid" style="max-height:400px;" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid"  style="background:#FCFBFB;padding:0px;">
        <div class="container">
            <!--__________________________MESSAGE DIV__________________________-->
            <div class="row">

                 <!--__________________________Message delivery ICON__________________________-->
                <div class="col-lg-6 col-md-6 col-12" style="display:flex;justify-content: center;align-items: center;">
                    <img src="/assets/icon/delivery.png" class="img-fluid" style="max-height:400px;" />
                </div>

                <!--__________________________FORMS__________________________-->
                <div class="col-lg-6 col-md-6 col-12" style="display:flex;justify-content: center;">
                    <div style="width:95%;">
                        <p style="margin:0%;"><span class="got">Got </span><span class="questions">a question?</span></p>
                        <span class="infoinstant">Send us an instant message!</span>
    
                        <!--__________________________Form INPUT FIELDS__________________________-->
                        <div class="divInputFields" style="margin-top:30px;">
                            <form>
                                <div class="form-group" style="margin-bottom:16px;">
                                    <label class="labels">Your Name</label>
                                    <input type="text" class="form-control forminput"/>
                                </div>
                                <div class="form-group" style="margin-bottom:16px;">
                                    <label class="labels">Your Email</label>
                                    <input type="text" class="form-control forminput" />
                                </div>
                                <div class="form-group" style="margin-bottom:16px;">
                                    <label class="labels">Message</label>
                                    <textarea type="text" class="form-control forminputtextarea"></textarea>
                                </div>
                            </form>

                            <div class="divBttnsendMessage">
                                <button class="btn btn-primary btnsendMessage">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>