<div class="container-fluid" style="background:#FCFBFB;padding:0px;padding-bottom:50px;">
    <div class="container-fluid" style="padding:0px;">
        <div class="container containerInfoContact">

            <!--__________________________CALL contact DIV__________________________-->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <p class="abegeilPadilla-font" style="margin-bottom:20px;"><span class="abegeil">Abegeil </span><span class="Padilla">Padilla</span></p>
                    <div style="margin-bottom:30px;">
                        <p class="infocontact" style="margin:0%;line-height: 140%;">Get in touch with us about making a reservation. 
                            We'll be happy to help and provide assistance with any enquiries you may have.</p>
                    </div>

                    <!--__________________________CALL contact__________________________-->
                    <div class="margin-form">

                        <div style="display:flex;margin-bottom:12px;">
                            <div style="width:5%;display:flex;justify-content: center;align-items: center;margin-right:5px;">
                                <img src="/assets/icon/call.png" class="img-fluid imgCallcallend" />
                            </div>
                            <div style="width:90%;"><span class="callnumemail">+639183342182</span></div>
                        </div>

                        <div style="display:flex;margin-bottom:12px;">
                            <div style="width:5%;display:flex;justify-content: center;align-items: center;margin-right:5px;">
                                <img src="/assets/icon/call.png" class="img-fluid imgCallcallend" />
                            </div>
                            <div style="width:90%;"><span class="callnumemail">+639186677538</span></div>
                        </div>
                        
                        <div style="display:flex;margin-bottom:12px;">
                            <div style="width:5%;display:flex;justify-content: center;align-items: center;margin-right:5px;">
                                <img src="/assets/icon/calendar.png" class="img-fluid imgCallcallend"  />
                            </div>
                            <div style="width:90%;"><span class="callnumemail">abpadillamail@gmail.com</span></div>
                        </div>

                        <div style="display:flex;margin-bottom:12px;">
                            <div style="width:5%;display:flex;justify-content: center;align-items: center;margin-right:5px;">
                                <img src="/assets/icon/calendar.png" class="img-fluid imgCallcallend" />
                            </div>
                            <div style="width:90%;"><span class="callnumemail">Monday to Saturday, 9:00 am - 5:00 pm</span></div>
                        </div>
                    </div>

                    <!--__________________________ICON facebook, instagram and twitter__________________________-->
                    
                    <div style="display:flex;justify-content: center;">
                        <div class="row">
                            <div class="col-4 imgLeftRight" style="cursor: pointer;">
                                <img src="/assets/icon/facebook.png" class="img-fluid" (click)="linkFollowus(1)"/>
                            </div>
                            <div class="col-4 imgMiddle" style="cursor: pointer;">
                                <img src="/assets/icon/instagram.png" class="img-fluid" (click)="linkFollowus(2)"/>
                            </div>
                            <div class="col-4 imgLeftRight" style="cursor: pointer;">
                                <img src="/assets/icon/twitter.png" class="img-fluid" (click)="linkFollowus(3)"/>
                            </div>
                        </div>
                    </div>

                </div>

                <!--__________________________CALL contact icon__________________________-->
                <div class="col-lg-6 col-md-6 col-12 callContacts">
                    <img src="/assets/icon/contacticon1.png" class="img-fluid" style="max-height:400px;" />
                </div>
            </div>
        </div>
    </div>



    <!--__________________________INQUERY__________________________-->
    <div class="container-fluid"  style="background:#FCFBFB;padding:0px;">
        <div class="container containForms">
            <!--__________________________MESSAGE DIV__________________________-->
            <div class="row">

                 <!--__________________________Message delivery ICON__________________________-->
                <div class="col-lg-6 col-md-6 col-12 callContacts">
                    <img src="/assets/icon/delivery.png" class="img-fluid" style="max-height:400px;" />
                </div>

                <!--__________________________FORMS__________________________-->
                <div class="col-lg-6 col-md-6 col-12" style="display:flex;justify-content: center;">
                    <div style="width:95%;">
                        <p class="Gotquestion-font" style="margin-bottom:15px;"><span class="got">Got </span><span class="questions">a question?</span></p>
                        <span class="infocontact">Send us an instant message!</span>
    
                        <!--__________________________Form INPUT FIELDS__________________________-->
                        <div class="divInputFields" style="margin-top:30px;">
                            <div [formGroup]="formGroup">

                                <div class="form-group" style="margin-bottom:16px;">
                                    <label class="labels labels-font">First Name:</label>
                                    <input type="text" formControlName="fName" class="form-control forminput forminput-font"/>
                                    <div *ngIf="errInquery[0][1]">
                                        <span class="paError">{{errInquery[0][0]}}</span>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom:16px;">
                                    <label class="labels labels-font">Last Name:</label>
                                    <input type="text" formControlName="lName" class="form-control forminput forminput-font"/>
                                    <div *ngIf="errInquery[3][1]">
                                        <span class="paError">{{errInquery[3][0]}}</span>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom:16px;">
                                    <label class="labels labels-font">Your email:</label>
                                    <input type="text" formControlName="email" class="form-control forminput forminput-font" />
                                    <div *ngIf="errInquery[1][1]">
                                        <span class="paError">{{errInquery[1][0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:16px;">
                                    <label class="labels labels-font">Message:</label>
                                    <textarea type="text" formControlName="letusknown" class="form-control forminputtextarea forminput-font"></textarea>
                                    <div *ngIf="errInquery[2][1]">
                                        <span class="paError">{{errInquery[2][0]}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="divBttnsendMessage">
                                <button class="btn btn-primary btnsendMessage btnsendMessage-font" (click)="inquerySubmit()">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>