/* ________________________Font from ttf extension_________________________ */

@font-face {
    font-family: inter_regular;
    src: url(/assets/Inter-Regular.ttf);
}

@font-face {
    font-family: inter_medium;
    src: url(/assets/Inter-Medium.ttf);
}

@font-face {
    font-family: inter_semibold;
    src: url(/assets/Inter-SemiBold.ttf);
}

@font-face {
    font-family: inter_bold;
    src: url(/assets/Inter-Bold.ttf);
}

/*__________________________________________________________________________*/

.containerInfoContact{
    max-width:1150px;
    padding-left:15px;
    padding-top:210px;
    padding-bottom:60px;
}

.abegeil{
    font-family: inter_bold;
    color:#0063A8;
}

.Padilla{
    font-family: inter_regular;
    color:#0A2B6A;
}

.abegeilPadilla-font{
    font-size:36px;
}

.infocontact{
    width:80%;
    font-family: inter_regular;
    font-size:17px;
}

.callnumemail{
    font-family: inter_regular;
    font-size:17px;
}

.got{
    font-family: inter_bold;
    color:#0063A8;
}

.questions{
    font-family: inter_regular;
    color:#0A2B6A;
}

.Gotquestion-font{
    font-size:25px;
}

.infoinstant{
    font-family: inter_regular;
    font-size:17px;
}

.labels{
    font-family: inter_regular;
    margin-bottom:10px;
}

.labels-font{
    font-size:15px;
}

.forminput{
    border-radius: 15px;
    border:1px solid black;
    font-family: inter_regular;
    padding:10px;
}


.forminput-font{
    font-size:17px;
}

.forminputtextarea{
    height:200px;
    border-radius: 15px;
    padding:10px;
    font-family: inter_regular;
    border:1px solid black;
}

.paError{
    font-family: inter_bold;
    font-size:14px;
    color:rgb(216, 67, 67);
}

.divBttnsendMessage{
    display:flex;
    justify-content: center;
}

.btnsendMessage{
    border-radius:25px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10%;
    padding-right:10%;
    font-family: inter_regular;
    background:#FFD700;
    border:none;
    color:black;
}

.btnsendMessage-font{
    font-size:16px;
}

.callContacts{
    display: flex;justify-content: center;align-items: center;
}

.imgCallcallend{
    max-height:20px;
}

.imgLeftRight{
    max-width:90px;
}

.imgMiddle{
    max-width:105px;
}

.margin-form{
    margin-bottom:40px;
}


/* ________________________@MEDIA DESIGN_________________________ */

/*768px for small col-sm*/
@media (max-width: 768px){
    .callContacts{
        display: none;
    }

    .containerInfoContact{
        max-width:1150px;
        padding-left:15px;
        padding-top:120px;
        padding-bottom:20px;
    }

    .containForms{
        min-width:100%;
        padding:0%;
    }

    .abegeilPadilla-font{
        font-size:30px;
    }

    .infocontact{
        width:80%;
        font-family: inter_regular;
        font-size:15px;
    }

    .imgCallcallend{
        max-height:17px;
    }

    .callnumemail{
        font-family: inter_regular;
        font-size:15px;
    }

    .imgLeftRight{
        max-width:70px;
    }

    .imgMiddle{
        max-width:80px;
    }
    
    .margin-form{
        margin-bottom:20px;
    }

    .Gotquestion-font{
        font-size:24px;
    }

    .forminput-font{
        font-size:14px;
    }
    
    .labels-font, .btnsendMessage-font{
        font-size:15px;
    }
}

/*___Mobile___*/
@media (max-width: 550px){
}