<div class="container-fluid" style="padding:0%;background:#493B3B;">
    <div class="expiredDiv">
        <div class="container"  style="max-width: 1170px;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12" style="display: grid;place-items: center;">
                    <p class="paOops">Oops.. The page you trying to reach is not found.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div style="display: flex;justify-content: center;align-items: center;">
                        <img src="/assets/icon/nofound.png" class="img-fluid" style="max-height:400px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>