<div class="container-fluid" style="min-height:800px;background: #493B3B;">
    
    <!--_______________Image Selected_____________________-->
    <div class="divFix" *ngIf="img_selected.length > 0">
        <div style="position: absolute;right: 10px;top:10px;">
            <img src="/assets/icon/x_Image.png" class="img-fluid" style="height:35px;cursor: pointer;" (click)="this.img_selected=''"/>
        </div>
        <div class="container" style="padding:0%;">
            <img [src]="img_selected" class="img-fluid" style="height: 50%;" />
        </div>
    </div>

    <div class="container divFacilities">
        <div class="row">
            <div class="col-lg-6 col-12">
                <p class="paFacilities paFacilities-font">Facilities</p>
                <span class="paInfoF paInfoF-font">Taking this last opportunity to buy your dream room on Manhattan Heights Hotel. Also you can actually enjoy the facilities of the Hotel. The Gym, Game room and Swimming pool and many more.</span>

                <div class="gallery">
                    <div *ngFor="let image of Image_Facilities; index as indexes" [style.gridRow]="image.row" [style.gridCol]="image.col" class="image">
                        <img [src]="image.url" class="imgs" (click)="selected_img(indexes)" />
                    </div>
                </div>
                

            </div>
            <div class="col-lg-6 col-12 colGalFacilities">
                <div class="row" style="min-width: 100%;">
                    <div class="col-12">
                        <p class="paFacilitiesG paFacilitiesG-font">Gym</p>

                        <div class="divScroll">
                            <!--<ng-image-slider [lazyLoading]="true" [infinite]="true" [autoSlide]="5" [imageSize]="{ width:'50%', height:'230px' }" [images]="Image_Gym" #nav style="width: 100%;"></ng-image-slider>-->
                        </div>
                    </div>

                    <div lcass="col-12" style="margin-top:15px;">
                        <p class="paFacilitiesG paFacilitiesG-font">Game room</p>

                        <div class="divScroll">
                            <!--<ng-image-slider [lazyLoading]="true" [infinite]="true" [autoSlide]="5" [imageSize]="{ width:'50%', height:'230px' }" [images]="Image_Ground" #nav style="width: 100%;"></ng-image-slider>-->
                        </div>
                    </div>

                    <div lcass="col-12" style="margin-top:15px;">
                        <p class="paFacilitiesG paFacilitiesG-font">Swimming Pool</p>

                        <div class="divScroll">
                          <!--  <ng-image-slider [lazyLoading]="true" [infinite]="true" [autoSlide]="5" [imageSize]="{ width:'50%', height:'230px' }" [images]="Image_Pool" #nav style="width: 100%;"></ng-image-slider>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>