<div class="container-fluid" style="min-height:800px;background:#493B3B;padding:0%;">


    <div class="container divAbout">
        <p class="paAbout">About us</p>
        <p class="paInfoA">Discover unique experiences, services, upcoming events, family activities, local secrets, and more. From iconic temples and palaces to treasure trove markets and hidden culinary gems, our suggestions will guide you through the sprawling metropolis so you can make the most of your stay in Bangkok.</p>


        <div class="row" style="margin-top:70px;">
            <div class="col-6">
                <img src="/assets/image/463342.png" class="img-fluid" style="min-height:500px;border-radius:5px;" />
            </div>
            <div class="col-6">
                <div style="margin-top:40px;padding-left:20px;">
                    <p class="paServices">Services</p>
                    <p class="paInfoFs">At Manhattan Garden city, we specialise in providing luxury and comfort with the aid of all modern facilities and services that make our guest experience truly memorable.</p>
                    <p class="paInfoFs">Polished and sophisticated, Manhattan Garden city has everything you will need for a relaxing escape with a loved one, friends, or family this season.</p>
                    <p class="paInfoFs">Dive into a Hotel of Manhattan Garden City, without having to compromise on having an issues.</p>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top:30px;">
            <div class="col-6">
                <div style="margin-top:40px;">
                    <p class="paServices">Local Attractions</p>
                    <p class="paInfoFs">At Manhattan Garden city, we are passionate about our city and the incredible activities, sights and attractions it is home to. Being in the heart of it all, Mahattan Garden offers the perfect base from which to explore the city and its many landmarks.</p>
                </div>
            </div>

            <div class="col-6">
                <div style="padding-left:20px;width:100%;position: relative;">
                    <div class="message">‘Dive into a Hotel of Manhattan Garden City, without having to compromise on having an issues’</div>
                    <div class="imgG"></div>
                </div>
            </div>
        </div>


        <div style="margin-top:50px;">
            <p class="paTeam">Our team</p>

            <div class="row" style="display: flex;justify-content: center;">
                <div class="cardV">
                    <div style="display: flex;justify-content: center;">
                        <img src="/assets/image/ky.png" class="img-fluid" style="border-radius: 50%;" />
                    </div>
                    <p class="paNames">Kyle Matthew Velarde</p>
                    <p class="paSe">Programmer</p>
                </div>

                <div class="cardV">
                    <div style="display: flex;justify-content: center;">
                        <img src="/assets/image/jg.png" class="img-fluid" style="border-radius: 50%;" />
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <p class="paNames" style="width:80%;">Jemina Mae Guire</p>
                    </div>
                    <p class="paSe">Project Manager</p>
                </div>

                <div class="cardV">
                    <div style="display: flex;justify-content: center;">
                        <img src="/assets/image/aj.png" class="img-fluid" style="border-radius: 50%;" />
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <p class="paNames" style="width:80%;">Ajoy Pangilinan</p>
                    </div>
                    <p class="paSe">System designer</p>
                </div>

                <div class="cardV">
                    <div style="display: flex;justify-content: center;">
                        <img src="/assets/image/pt.png" class="img-fluid" style="border-radius: 50%;" />
                    </div>
                    <p class="paNames">Patricia Delos Santos</p>
                    <p class="paSe">System Analysis</p>
                </div>
            </div>
        </div>
    </div>
</div>
