.header{
    background:url('/assets/image/463342.png') no-repeat center bottom fixed;
    background-size:cover;
    min-height:650px;
    padding:0px;
    display: flex;
    align-items: flex-end;
}

.titlediv{
    background:rgba(26, 29, 29, 0.36);
    min-height:150px;
    padding:20px;
}

.titletxt{
    font-family: inria_serif_bold;
    font-size:40px;
    text-align: center;
    color:#F6F6F6;
    margin:0px;
}

.titleinfo{
    font-family: inter_medium;
    font-size:20px;
    color:#DAD6D6;
    text-align: center;
    margin:0px 0px 10px 0px;
}

.paMakeReservation{
    margin:0px;
    font-family: inria_serif_bold;
    font-size:30px;
    color:gold;
    margin:0px 0px 10px 0px;
    text-align: center;
}

.reservationDiv{
    max-width: 1020px;
    background:white;
    border-radius:10px;
    padding:20px;
}

.roomstxt{
    font-family: inria_serif_bold;
    font-size: 55px;
    color:#493B3B;
    margin:0%;
}

.roomsinfo{
    width:50%;
    font-family: inter_regular;
    font-size: 18px;
    color:#493B3B;
    margin:0%;
}

.inforooms{
    display: flex;
    align-items: center;
}

.textareas{
    width:100%;
    height:130px;
    resize: none;
    border:none;
}

.margintxt{
    margin:0%;
}

.titleroom{
    font-family: inter_regular;
    font-size: 33px;
    color: black;
}

.titleroomtxt{
    font-family: inter_regular;
    font-size: 16px;
    color: #2E3137;
}

.inforooms{
    font-family: inter_regular;
    font-size: 16px;
    color: #2E3137;
    margin-top:3px;
}

.btnsreserveAppointment{
    border:1px solid #2E3137;
    background:none;
    font-family: inter_regular;
    font-size: 18px;
    color: black;
    padding:10px 30px 10px 30px;
    margin-top:15px;
}

.paNoAva{
    margin:0px 0px 10px 0px;
    font-family: inter_bold;
    color:black;
    font-size:25px;
}

.paNoAvaInfo{
    margin: 0px 0px 30px 0px;
    font-family: inter_regular;
    font-size:20px;
    color:black;
    max-width: 90%;
}

.bttnContacts{
    width:70%;
    border-radius:20px;
    font-size:18px;
    font-family: inter_regular;
    background:#FFD700;
    border:none;
    color:black;
}

.divMakeReservation{
    max-width: 200px;
    padding:10px 10px 10px 10px;
    background:#EFF1F5;
    margin-right:10px;
    position: relative;
}

.btnReserve{
    width:100%;
    height:100%;
    border-radius: 10px;
    background:gold;
    color:black;
    border:none;
    font-family: inter_semibold;
    font-size:15px;
}

.selectS{
    width:100%;
    background: none;
    border:none;
    padding:10px 10px 10px 0px;
}

.dates{
    width:100%;
    height:100%;
    padding:0%;
    margin: 0%;
    border: none;
    opacity: 0;
    position: absolute;
    left:0%;
}