<div class="container-fluid" style="padding:0px;background:#FCFBFB;">
    <div class="container-fluid header">
        <div class="container-fluid titlediv">
            <p class="titletxt">Manhattan Garden City</p>
            <div style="display:flex;justify-content: center;">
                <p class="titleinfo">
                    Book your stay and enjoy the view at the most affordable rates
                </p>
            </div>
        </div>
    </div>


    <div style="padding:60px 0px 30px 0px;">
        <div>
            <div class="container" style="max-width: 1350px;">
                <p class="roomstxt">OUR ROOMS</p>
                <p class="roomsinfo">Located in General Roxas Ave, Cubao, Quezon City, Metro Manila.  
                    Abegeil Paddilla in Manhattan Garden City offers the available rooms defined by the quality and comfort. 
                </p>
            </div>

            <!--____________________________Rooms____________________________-->

            <div *ngIf="condition_have_room && final_converted_data.length == 0" class="container" style="max-width: 1350px;padding:50px 50px 20px 50px;">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12" style="display: flex;justify-content: center;">
                        <img src="/assets/icon/empty_room.png" class="img-fluid" style="max-height: 400px;" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div>
                            <p class="paNoAva">No rooms for now</p>
                            <p class="paNoAvaInfo">If you have some questions. Contact us!</p>
                            <div style="display: flex;justify-content: center;">
                                <button class="btn btn-primary bttnContacts" (click)="navigates()" >Contact us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top:90px;" *ngFor="let json_Data of final_converted_data;index as j_index">
                
                <!--____________________________Room RIGHT____________________________-->
                <div class="container" style="max-width: 1350px;" *ngIf="json_Data.Left_Or_Right === 'right'">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-12 inforooms">
                            <img src="/assets/image/roomsample.png" class="img-fluid" style="width:100%;max-height:470px;" />
                        </div>
                        
                        <div class="col-lg-5 col-md-5 col-12  inforooms">
                            <div style="padding:0px 20px 0px 30px;">
                                <p class="titleroom margintxt">{{json_Data.nameRoom}}</p>
                                <p class="titleroomtxt margintxt">Located in General Roxas Ave, Cubao, Quezon City, Metro Manila.</p>
                                <div style="margin:30px 0px 30px 0px;">
                                    <p style="font-weight: bold;margin-bottom: 15px;font-size: 17px;">Type of room: {{ json_Data.typeRoom ? 'Staycation':'Rental' }}</p>
                                    <textarea class="inforooms margintxt textareas" disabled>{{json_Data.addInfo}}</textarea>
                                </div>

                                <div>
                                    <button *ngIf="json_Data.typeRoom" class="btnsreserveAppointment btn btn-primary"
                                        [ngStyle]="{'width':'70%', 'background': json_Data.confirmNot ? '#FFD700':'', 
                                                    'cursor':json_Data.confirmNot ? 'auto':'pointer'}" (click)="reserve(j_index)">
                                            {{!json_Data.confirmNot ? 'Reserve Now':'Reserved'}}</button>
                                </div>

                                <div><button *ngIf="!json_Data.confirmNot" 
                                    class="btnsreserveAppointment btn btn-primary" style="width:70%;">Set Appointment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--____________________________Room LEFT____________________________-->
                <div *ngIf="json_Data.Left_Or_Right === 'left'" style="margin-top:25px;padding:50px 0px 50px 0px;background:#F5F5F5;">
                    <div class="container" style="max-width: 1350px;">
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-12  inforooms">
                                    <div style="padding:0px 20px 0px 30px;">
                                        <p class="titleroom margintxt">{{json_Data.nameRoom}}</p>
                                        <p class="titleroomtxt margintxt">Located in General Roxas Ave, Cubao, Quezon City, Metro Manila.</p>
                                        <div style="margin:30px 0px 30px 0px;">
                                            <span style="font-weight: bold;margin-bottom: 15px;font-size: 17px;">Type of room: {{ json_Data.typeRoom ? 'Staycation':'Rental' }}</span>
                                            <textarea class="inforooms margintxt textareas" style="background: #F5F5F5;" disabled>{{json_Data.addInfo}}</textarea>
                                        </div>

                                        <div>
                                            <button *ngIf="json_Data.typeRoom" class="btnsreserveAppointment btn btn-primary"
                                                [ngStyle]="{'width':'70%', 'background': json_Data.confirmNot ? '#FFD700':'', 
                                                            'cursor':json_Data.confirmNot ? 'auto':'pointer'}" (click)="reserve(j_index)">
                                                    {{!json_Data.confirmNot ? 'Reserve Now':'Reserved'}}</button>
                                        </div>
        
                                        <div><button *ngIf="!json_Data.confirmNot" 
                                            class="btnsreserveAppointment btn btn-primary" style="width:70%;">Set Appointment</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-7 col-md-7 col-12 inforooms">
                                    <img src="/assets/image/roomsample.png" class="img-fluid" style="width:100%;max-height:470px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
