<div class="container-fluid" style="padding:20px;">
    <!--____HEADER_____-->
    <div style="margin-bottom: 20px;">
        <p class="paAppo">Archives</p>
        <span>All your deleted request information, you can now retrieve or delete the infos.</span>
    </div>

    <!--__________Appointment all__________________-->
    <div *ngIf="!selected_condition">

        <!--___HEADER SELECTION and Arrow_____-->
        <div style="display: flex;justify-content: space-between;margin-bottom: 15px;">

            <!--__SELECTION__-->
            <div style="display: flex;">
                <div class="form-check" style="margin-right:10px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="clickRadio('notification')" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Notification
                    </label>
                </div>
                <div class="form-check" style="margin-right:10px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="clickRadio('appointment')">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Appointment
                    </label>
                </div>
                <div class="form-check" style="margin-right:10px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" (click)="clickRadio('reservation')">
                    <label class="form-check-label" for="flexRadioDefault3">
                      Reservation
                    </label>
                </div>
            </div>

            <!--__Arrow left and right__-->
            <div style="display: flex;align-items: center;">

                <!--___Count of mail____-->
                <div style="margin-right:20px;">
                    <span class="pNumbs">{{count_for5}}-5 of {{count}}</span>
                </div>


                <!--___LEFT and RIGHT clicks_____-->
                <div class="row leftRight">
                    <div class="col-6 left" (click)="left()">
                        <span><</span>
                    </div>
                    <div class="col-6 right" (click)="right()">
                        <span>></span>
                    </div>
                </div> 
            </div>
        </div>


        <!--___________CREATE DIV NOTIFICATION_______________-->
        <div *ngIf="radioName === 'notification'">

            <p *ngIf="arr_data.length == 0" style="text-align: center;">
                {{loadingMessage}}
            </p>

            <div *ngFor="let data of arr_data; index as indexes" class="divNotiParent">
                
                <!--___HEADER NOTIFI___-->
                <div style="display: flex;justify-content: space-between;margin-bottom: 10px;">    
                    <!--____New and Name_____-->
                    <div style="display: flex;align-items: center;">
                        <span class="nameHeader">{{ data.name }}</span>
                    </div>

                    <!--____X button_____-->
                    <div class="nameHeader" style="cursor: pointer;" (click)="movetoTrash(indexes)">X</div>
                </div>

                <!--_____MIDDLE MESSAGE____-->
                <p class="paMessage">{{data.message}}</p>

                <!--_____FOOTER_____-->
                <div style="display: flex;justify-content: space-between;">
                    <div>
                        <span class="underline_text" (click)="retrieve_data(indexes)">Retrieve info</span>
                    </div>
                    <span class="paDate">{{checking(data.date)}}</span>
                </div>
            </div>

        </div>


        <!--___________CREATE DIV APPOINTMENT_______________-->
        <div *ngIf="radioName === 'appointment'">

            <p *ngIf="arr_data.length == 0" style="text-align: center;">
                {{loadingMessage}}
            </p>

            <div *ngFor="let data of arr_data; index as indexes" class="divAppParent">
                
                <!--___HEADER NOTIFI___-->
                <div style="display: flex;justify-content: space-between;margin-bottom: 10px;">    
                    <!--____New and Name_____-->
                    <span class="nameHeader">{{nomalizeSelected}}</span>

                    <!--____X button_____-->
                    <div class="xDateBttn" (click)="movetoTrash(indexes)">X</div>
                </div>

                <p class="paMessage">Transaction ID: {{data.transaction_ID}}</p>

                <!--_____MIDDLE MESSAGE____-->
                <p class="paMessage">{{data.message}}</p>

                <!--_____FOOTER DATE_____-->
                <div style="display: flex;justify-content: space-between;">

                    <div style="width:100%;display: flex;justify-content: space-between;margin-top:5px;">
                        <div style="display: flex;">
                            <p class="underline_text" (click)="retrieve_data(indexes)">Retrieve info</p>
                            <p class="underline_text" style="margin-left:15px;" (click)="click_details(indexes)">See details</p>
                        </div>

                        <div class="paDate">{{checking(data.timeDate)}}</div>
                    </div>

                </div>
            </div>

        </div>



        <!--________CREATE DIV RESERVATION______________-->
        <div *ngIf="radioName === 'reservation'">

            <p *ngIf="arr_data.length == 0" style="text-align: center;">
                {{loadingMessage}}
            </p>

            <div *ngFor="let data of arr_data; index as indexes" class="divAppParent">
                
                <!--___HEADER NOTIFI___-->
                <div style="display: flex;justify-content: space-between;margin-bottom: 10px;">    
                    <!--____New and Name_____-->
                    <span class="nameHeader">{{nomalizeSelected}}</span>

                    <!--____X button_____-->
                    <div class="xDateBttn" (click)="movetoTrash(indexes)">X</div>
                </div>

                <!--_____MIDDLE INFORMATION____-->
                <p class="paMessage">Transaction ID: {{data.transaction_id}}</p>
                <p class="paMessage">Room name: {{data.name_room}}</p>
                <p class="paMessage">Payment method: {{(data.paymentMethod === 'payment1' ? 'Gcash': 'Paypal')}}</p>

                
                <!--_____FOOTER DATE_____-->
                <div style="display: flex;justify-content: space-between;">

                    <div style="width:100%;display: flex;justify-content: space-between;margin-top:5px;">
                        <div style="display: flex;">
                            <p class="underline_text" (click)="retrieve_data(indexes)">Retrieve info</p>
                            <p class="underline_text" style="margin-left:15px;" (click)="click_details(indexes)">See details</p>
                        </div>
                        
                        <div class="paDate">{{checking(data.transaction_date)}}</div>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <!--________SELECTED DIV APPOINTMENT_________-->
    <div *ngIf="radioName === 'appointment' && selected_condition">
        <div class="selectedID">

            <!--_______HEADER________-->
            <div style="display: flex;justify-content:space-between;margin-bottom: 20px;">
                <div style="display: flex;">
                    <div>
                        <img src="/assets/icon/arrow_back.png" class="img-fluid" style="height:20px;cursor: pointer;" (click)="clickBack_selected()" />
                    </div>
                    <div class="paNameSelected">Pending</div>
                </div>
                <div class="xDateBttn" (click)="movetoTrash(arr_selected_data[1])">X</div>
            </div>
    
            <!--______BODY_______-->
            <div style="padding:0px 15px 0px 15px;">
                
                <p class="paDateSelected">{{arr_selected_data[0].timeDate}}</p>
    
                <div style="margin:0px 0px 20px 0px;">
                    <p class="details" style="margin-bottom:10px;">Transaction ID: {{arr_selected_data[0].transaction_ID}}</p>
    
                    <p class="headerInfos">Information: </p>
                    <p class="details">Full name: {{arr_selected_data[0].fullname}}</p>
                    <p class="details">Email: {{arr_selected_data[0].reserved_email}}</p>
                    <p class="details">Number of Guest: {{arr_selected_data[0].numGuest}}</p>
                    <p class="details">Contact number: {{arr_selected_data[0].contact_num}}</p>
                    <p class="details">Date arrival: {{arr_selected_data[0].dateArrival}}</p>
                </div>
    
                <div style="margin:0px 0px 25px 0px;">
                    <p class="headerInfos">Guest info: </p>
                    <span *ngIf="this.arr_selected_data[0].guest_member.split('\n')[0].length == 0" >No guest info filled up.</span>
    
                    <table *ngIf="this.arr_selected_data[0].guest_member.split('\n')[0].length != 0" class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Full name</th>
                            <th scope="col">Contact-number</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let guestInfo of this.arr_selected_data[0].guest_member.split('\n'); index as indexes">
                            <th scope="row">{{(indexes+1)}}</th>
                            <td>{{guestInfo.split(',')[0]}}</td>
                            <td>{{guestInfo.split(',')[1]}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>

                <p class="headerInfos">Message: </p>
                <p class="details" style="margin:0px 0px 20px 0px;">{{arr_selected_data[0].message}}</p>
    
                <span class="underline_text" (click)="retrieve_data(arr_selected_data[1])">Retrieve info</span>
            </div>
        </div>
    </div>





    <!--________SELECTED DIV RESERVATION_________-->
    <div *ngIf="radioName === 'reservation' && selected_condition">
        <div class="selectedID">

            <!--_______HEADER________-->
            <div style="display: flex;justify-content:space-between;margin-bottom: 20px;">
                <div style="display: flex;">
                    <div>
                        <img src="/assets/icon/arrow_back.png" class="img-fluid" style="height:20px;cursor: pointer;" (click)="clickBack_selected()" />
                    </div>
                    <div class="paNameSelected">{{nomalizeSelected}}</div>
                </div>
                <div  class="xDateBttn" (click)="movetoTrash(arr_selected_data[1])">X</div>
            </div>
    
            <!--______BODY arr_selected_data[1]_______-->
            <div>
    
                <!--______HEADER______-->
                <div style="margin-bottom: 10px;">
                    <p class="pa_header_body"><span style="font-family: inter_medium;">Transaction ID</span>: 
                        <span style="font-family: inter_regular;">{{arr_selected_data[0].transaction_id}}</span></p>
                    <p class="pa_header_body"><span style="font-family: inter_medium;">Room name</span>: 
                        <span style="font-family: inter_regular;">{{arr_selected_data[0].name_room}}</span></p>
                    <p class="pa_header_body"><span style="font-family: inter_medium;">Payment method</span>: 
                        <span style="font-family: inter_regular;">{{(arr_selected_data[0].paymentMethod === 'payment1' ? 'Gcash': 'Paypal')}}</span></p>
                </div>
    
    
                <!--_________BODY_____________-->
                <div>
                    <!-- __ADD IMAGE SECTION__ -->
                    <div *ngIf="this.arr_data[0].paymentMethod === 'payment1'" class="imageAddDiv">
                        <span class="paImageS">Image Section:</span>
                        <p class="paLMes">{{(this.arr_data[0].image_transaction.length == 0 ? '':'Your provided image transaction.') }}</p>
    
                        <!-- __IMG ADD__ -->
                        <div class="divForAdded" style="margin-top:15px;">

    
                            <!--____No image transaction but accepted____-->
                            <div *ngIf="this.arr_data[0].image_transaction.length == 0">
                                <p class="paLMes">No transaction payment picture.</p>
                            </div>
    
                            <!--___Already added image____-->
                            <div class="addImageR" *ngFor="let data of this.arr_data[0].image_transaction">
                                <div class="addChildIR">
                                    <img [src]="data[0]" class="img-fluid" style="height:100%;" />
                                </div>
                            </div>

                        </div>
                    </div>
    
    
    
                    <!-- __INFORMATION OF RESERVATION__ -->
                    <div style="margin-bottom:15px;">
                        <p class="paRInfoT">Information of reservation:</p>
    
                        <div class="row" style="padding:0%;margin-top:5px;">
    
                            <!--__filled information__-->
                            <div class="col-6">
                                <div style="margin-top:10px;">
                                    
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="labels">First name:</label>
                                            <input type="text"  [value]="arr_selected_data[0].first_name" class="form-control forminputs" />
                                        </div>
                                        <div class="col-6">
                                            <label class="labels">Last name:</label>
                                            <input type="text" [value]="arr_selected_data[0].last_name" class="form-control forminputs" />
                                        </div>
                                        <div class="col-12" style="margin-top:10px;">
                                            <label class="labels">Email:</label>
                                            <input type="text" [value]="arr_selected_data[0].email" class="form-control forminputs" />
                                        </div>
                                        <div class="col-12" style="margin-top:10px;">
                                            <label class="labels">Contact number:</label>
                                            <input type="text" [value]="arr_selected_data[0].phone_number" class="form-control forminputs" />
                                        </div>
                                        <div class="col-12" style="margin-top:10px;">
                                            <p class="paRInfoT">Guest info:</p>
                                            <span *ngIf="arr_selected_data[0].guest_member.split('\n')[0].length == 0" >No guest info filled up.</span>
    
                                            <table *ngIf="arr_selected_data[0].guest_member.split('\n')[0].length != 0" class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Full name</th>
                                                    <th scope="col">Contact-number</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr *ngFor="let guestInfo of arr_selected_data[0].guest_member.split('\n'); index as indexes">
                                                    <th scope="row">{{(indexes+1)}}</th>
                                                    <td>{{guestInfo.split(',')[0]}}</td>
                                                    <td>{{guestInfo.split(',')[1]}}</td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            
                            <!--__details of reservation including "confirmation date"__-->
                            <div class="col-6">
                                <div class="divDetails">
    
                                    <div style="display: flex;justify-content: center;">
    
                                        <!--____Check in____-->
                                        <div class="divCheckInOut" style="margin-right:20px;">
                                            <p class="paCheckINOut" style="font-family: inter_bold; color:#FFD700;">CHECK IN</p>
                                            <p class="paNumbCheckInOut">{{dateCheckOutCheckIn(arr_selected_data[0].checkin_date, [1])}}</p>
                                            <p class="paCheckINOut" style="font-family: inter_regular;color:white">
                                                {{dateCheckOutCheckIn(arr_selected_data[0].checkin_date, [0,2])}}
                                            </p>
                                        </div>
    
                                        <!--____Check out____-->
                                        <div class="divCheckInOut">
                                            <p class="paCheckINOut" style="font-family: inter_bold; color:#FFD700;">CHECK OUT</p>
                                            <p class="paNumbCheckInOut">{{dateCheckOutCheckIn(arr_selected_data[0].checkout_date, [1])}}</p>
                                            <p class="paCheckINOut" style="font-family: inter_regular;color:white">
                                                {{dateCheckOutCheckIn(arr_selected_data[0].checkout_date, [0,2])}}
                                            </p>
                                        </div>
                                    </div>
    
                                    <!--___DETAILS___-->
                                    <div style="margin-top:20px;">
                                        <div class="pdetails">Details</div>
    
                                        <div *ngIf="arr_selected_data[0].paymentMethod==='payment1'" class="paDetailsMiddle">
                                            <span style="font-family: inter_medium !important;">Confirmation date</span>
                                            <span>{{arr_selected_data[0].confirmation_date !== '' ? arr_selected_data[0].confirmation_date: 'no-date'}}</span>
                                        </div>
    
                                        <div class="paDetailsMiddle">
                                            <span style="font-family: inter_medium !important;">
                                                {{arr_selected_data[0].paymentMethod==='payment2' ? "Transaction paid date":'Transaction date'}}</span>
                                            <span>{{arr_selected_data[0].transaction_date}}</span>
                                        </div>
    
                                        <div class="paDetailsMiddle">
                                            <span style="font-family: inter_medium !important;">{{arr_selected_data[0].acquired_persons}} persons</span>
                                            <span>{{arr_selected_data[0].persons_price}}</span>
                                        </div>
    
                                        <div class="paDetailsMiddle">
                                            <span style="font-family: inter_medium !important;">Total price a day</span>
                                            <span>{{arr_selected_data[0].total_day_price}}</span>
                                        </div>
    
                                        <div class="paDetailsMiddle">
                                            <span style="font-family: inter_medium !important;">Price</span>
                                            <span>{{arr_selected_data[0].defaultPrice}}</span>
                                        </div>
    
                                        <div class="pdetails" style="margin-top:10px;display: flex;justify-content: space-between;background:#5C5656 !important;">
                                            <span>Total</span>
                                            <span>{{arr_selected_data[0].total_price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
    
                    </div>
                </div>
    
    
    
                <!--_________FOOTER BTTNS____________-->
                <div style="display: flex;justify-content: center;">
                    <button class="btn btn-primary btnCancelRequest" (click)="retrieve_data(arr_selected_data[1])">Retrieve info</button>
                </div>
            </div>
        </div>
    </div>

</div>
