<div class="container-fluid headerss">

    <!--_________LOGOUT YES OR NO_____________-->
    <div *ngIf="logoutCondition" class="fixedDiv">
        <div class="container" style="min-height:100%;display: flex;justify-content: center;align-items: center;">
            <div class="havePopup">
                <div class="container boxHS">
                    <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
                        <div class="paCancel">
                            <span>Log out</span>
                        </div>
                    </div>
    
                    <div class="paMe">Are you sure you want to log out?</div>
                    
                    <div>
                        <div style="max-width:120px;float: right;display: flex;">
                            <div class="paYes" (click)="yesNoLogout(true)">YES</div>
                            <div class="paNo" (click)="yesNoLogout(false)">NO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--______Call FIXED schedule and account settings_____-->
    <div class="fixedDiv" *ngIf="conditionFixDiv" (click)="funcErase()">
        <div class="container" style="min-height:100%;display: flex;justify-content: center;align-items: center;" (click)="$event.stopPropagation()">

            <!--__________THIS IS FOR Have same arrival date when accepting appointment DIV_______________-->

            <div *ngIf="arrHandle[0] === 'chooseSchedMoveTrash_cancel'" class="container havePopup">
                <div class="container boxHS">
                    <span class="paCancel">Choose Event</span>

                    <div class="cancelDeleteEvents" (click)="cancelDelete(false)">Cancel Event</div>
                    <div class="cancelDeleteEvents" (click)="moveToTrash()">Move to Archive</div>
                </div>
            </div>

            <!--<div class="cancelDeleteEvents" (click)="cancelDelete(true)">Move to trash</div>-->

            <div *ngIf="arrHandle[0] === 'haveSame'" class="havePopup">
                <div class="container boxHS">
                    <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
                        <div class="paCancel">
                            <span>{{arrHandle[1]}}</span>
                        </div>
                    </div>

                    <div class="paMe">{{arrHandle[2]}}</div>
                    
                    <div>
                        <div style="max-width:120px;float: right;display: flex;">
                            <div class="paYes" (click)="yesNO(true)">YES</div>
                            <div class="paNo" (click)="yesNO(false)">NO</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--________________THIS IS FOR SET TIME__________________-->
            <div *ngIf="arrHandle[0] === 'time'" class="container divSetTime">
                <p class="paX" (click)="funcErase()">X</p>
                <p class="paTime">Set Time</p>

                <div style="margin-bottom:25px;">
                    <p class="paME">{{arrHandle[1]}}</p>
                    <p class="paInter">{{arrHandle[2]}}</p>

                    <div style="display:flex;justify-content: center;margin-top:35px;">
                        <div>
                            <input type="number" [min]="arrHandle[3]" [max]="arrHandle[4]" (input)="funcOnInputHours()"
                            class="form-control hours hourss" />
                            <p class="paMinH">hours</p>
                        </div>
                        <span class="pS">:</span>
                        <div>
                            <input type="number" min="00" max="59" class="form-control hours minutess" (input)="funcOnInputMinutes()" />
                            <p class="paMinH">minutes</p>
                        </div>
                    </div>
                </div>

                <div style="display: flex;justify-content: center;">
                    <button class="btn btn-primary btnSet" (click)="set()">Set</button>
                </div>
            </div>


            <!--___________________THIS IS FOR CHANGE PASSWORD______________________-->
            <div *ngIf="arrHandle[0] === 'ChangePassAdmin'" class="container chPass">
                <p class="paX" (click)="conditionFixDiv = false">X</p>
                <p class="paForgotPass">Change Password</p>

                <div [formGroup]="formGroup_newPassword"  style="padding:0px 20px 10px 20px;margin-top:30px;">
                    <div style="margin-bottom:20px;">
                        <input type="password" formControlName="currentPass" placeholder="Enter your current password" class="form-control forminputReg" />
                        <div *ngIf="errArrPassword[0][0]">
                            <span class="paError">{{errArrPassword[0][1]}}</span>
                        </div>
                    </div>
                    <div style="margin-bottom:10px;">
                        <input type="password" formControlName="newPass" placeholder="Enter your new password" class="form-control forminputReg" />
                        <div *ngIf="errArrPassword[1][0]">
                            <span class="paError">{{errArrPassword[1][1]}}</span>
                        </div>
                    </div>

                    <button class="btn btn-primary passwordChange" (click)="changePassword()">Change</button>
                </div>
            </div>


            <!--___________________THIS IS FOR POP-UP changing Password______________________-->
            <div *ngIf="arrHandle[0] === 'popUPChangePassAdmin'" class="container divSuccesschangePass">
                <div class="container-fluid">
                    <div style="display: flex;justify-content: center;">
                        <p class="paSuccessChange">Successfully changing your password!</p>
                    </div>
                    <button class="btn btn-primary passwordChange" (click)="conditionFixDiv = false">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--_____________POPUP FIRST BEFORE TO "Move trash" OR CANCEL THE RESERVATION_______________-->
    <div *ngIf="boolean_reservation" class="popupInfoReser" (click)="boolean_reservation = false;">
        <div class="container havePopup">
            <div class="container boxHS" (click)="$event.stopPropagation()">
                <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
                    <div class="paCancel">
                        <span>{{arr_reservation[0]}}</span>
                    </div>
                </div>

                <div class="paMe">{{arr_reservation[1]}}</div>
                
                <div>
                    <div style="max-width:120px;float: right;display: flex;">
                        <div class="paYes" (click)="deleteCancel_Reservation(true)">YES</div>
                        <div class="paNo" (click)="deleteCancel_Reservation(false)">NO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--______Call FIXED ROOMS and RESERVATION_____-->
    <div class="fixedDiv" *ngIf="conditionFixDiv2" (click)="funcCloseReseroom(false)">
        <img src="/assets/icon/watermark.png" class="img-fluid imgwatermark" />

        <div [ngClass]="['container', (printing_condition ? 'consReservation':'')]" style="min-height:100%;padding:10px;display:flex;justify-content: center;align-items: center;">    
            
            <!--_________________THIS IS LOADING PROGRESS__________________-->
            <div *ngIf="arrHandle[0] === 'progress'" (click)="$event.stopPropagation()" class="divProgress">
                <div class="container" style="padding:0%;position: relative;">
                    <div>
                        <!--___Percent text___-->
                        <div class="numberProgress" [ngStyle]="{'position': 'absolute', 
                        'top': arrHandle[1] == 100 ? '24%':'29%'}">{{arrHandle[1]}}%</div>
                        <!--___Progress animation___-->
                        <label [ngClass]="['container', arrHandle[1] == 100 ? 'progressStop': 'progressStart']">
                            <div class="container checkDiv" [ngStyle]="{'display': arrHandle[1] != 100 ? 'none': 'block'}">
                                <div class="container check-icon"></div>
                            </div>
                        </label>
                    </div>

                    <div style="margin-top:20px;">
                        <p class="paMessLoading" *ngIf="arrHandle[1] != 100">This may take for a while. Please wait.</p>
                        <p class="paMessLoading" *ngIf="arrHandle[1] == 100">{{arrHandle[2]}}</p>
                        <div style="display: flex;justify-content: center;" *ngIf="arrHandle[1] == 100">
                            <button class="btn btn-primary btnfinishUpload" (click)="conditionFixDiv2=false">Finish</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--________________THIS IS FOR WARNING ALERT THE ADMIN___________________-->
            <div *ngIf="arrHandle[0] === 'warning'" (click)="$event.stopPropagation()" class="havePopup">
                <div class="container boxHS">
                    <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
                        <div class="paCancel">
                            <span>{{arrHandle[1]}}</span>
                        </div>
                    </div>

                    <div class="paMe">{{arrHandle[2]}}</div>
                    
                    <div>
                        <div style="max-width:120px;float: right;">
                            <div class="paNo" (click)="conditionFixDiv2 = false">OK</div>
                        </div>
                    </div>
                </div>
            </div>

            
            <!--___________________THIS IS FOR SHOWING THE RESERVATION INFORMATION_______________________-->
            <div *ngIf="arrHandle[0] === 'reservation_info'" id="printingD" class="divReservation" (click)="$event.stopPropagation()">
                
                <div style="display: flex;justify-content: space-between;">
                    <span class="paX2" (click)="funcCloseReseroom(false)">X</span>
                    <div></div>
                </div>

                <div style="margin-top:10px;">
                    <span><span class="paRoomname">Room name: </span><span style="font-family: inter_regular;">{{arrHandle[1].name_room}}</span></span>
                    <div style="margin-top:5px;">
                        <label class="paPayment">Type of room:</label>
                        <span style="margin-left:5px;font-family: inter_regular;">{{arrHandle[1].typeRoom2}}</span>
                    </div>
                    <div style="margin-top:5px;">
                        <label class="paPayment">Transaction ID:</label>
                        <span style="margin-left:5px;font-family: inter_regular;">{{(arrHandle[1].transaction_id)}}</span>
                    </div>
                    <div style="margin-top:5px;">
                        <label class="paPayment">Payment Method:</label>
                        <span style="margin-left:5px;font-family: inter_regular;">{{(arrHandle[1].paymentMethod === 'payment1' ? 'Gcash':'Paypal')}}</span>
                    </div>
                </div>

                <!-- __IMG TRANSACTION__ -->
                <div *ngIf="arrHandle[1].paymentMethod === 'payment1'" class="imageAddDiv">
                    <p class="paImageS" style="margin:0%;">Image transactions:</p>
                    <span class="paLMes">The provided payment image transaction of the user.</span>

                    <!-- __IMG__ -->
                    <div class="divForAdded" style="margin-top:15px;">
                        <p *ngIf="arrHandle[1].image_transaction.length == 0" class="paNoone" style="margin:0%;">No provided image.</p>
                        <!-- __IMAGES CREATE__ -->
                        <div *ngFor="let url of arrHandle[1].image_transaction; index as indexes"  class="addImageR">
                            <div class="addImageRTS">
                                <div class="disImageDelete">
                                    <div class="deleteImage">
                                        <div class="imgD">
                                            <img src="/assets/icon/image_r.png" class="img-fluid" style="height:25px;" (click)="displayImage(url[0], 'fromAdmin')" />
                                        </div>
                                    </div>
                                </div>
                                <img [src]="url[0]" class="img-fluid" style="height:100%;" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- __INFORMATION OF RESERVATION__ -->
                <div style="margin-bottom:25px;">
                    <p class="paRInfoT">Information:</p>

                    <div class="row" style="padding:0%;margin-top:5px;">

                        <!--__filled information__-->
                        <div class="col-6">
                            <div style="margin-top:10px;">
                                
                                <div class="row">
                                    <div class="col-6">
                                        <label class="labels">First name:</label>
                                        <input type="text"  [value]="arrHandle[1].first_name" class="form-control forminputs" />
                                    </div>
                                    <div class="col-6">
                                        <label class="labels">Last name:</label>
                                        <input type="text" [value]="arrHandle[1].last_name" class="form-control forminputs" />
                                    </div>
                                    <div class="col-12" style="margin-top:10px;">
                                        <label class="labels">Email:</label>
                                        <input type="text" [value]="arrHandle[1].email" class="form-control forminputs" />
                                    </div>
                                    <div class="col-12" style="margin-top:10px;">
                                        <label class="labels">Contact number:</label>
                                        <input type="text" [value]="arrHandle[1].phone_number" class="form-control forminputs" />
                                    </div>
                                    <div class="col-12" style="margin-top:20px;">
                                        <p class="paHeaderapp" style="font-family: inter_bold;">Guest info:</p>
                                        <span *ngIf="arrHandle[1].guest_member.split('\n')[0].length == 0" >No guest info filled up.</span>

                                        <table *ngIf="arrHandle[1].guest_member.split('\n')[0].length != 0" class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Full name</th>
                                                <th scope="col">Contact-number</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let guestInfo of arrHandle[1].guest_member.split('\n'); index as indexes">
                                                <th scope="row">{{(indexes+1)}}</th>
                                                <td>{{guestInfo.split(',')[0]}}</td>
                                                <td>{{guestInfo.split(',')[1]}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-12" *ngIf="!printing_condition" style="margin-top:20px;display: flex;justify-content: center;">
                                        <button class="btn btn-primary print" (click)="printing()">Print details</button>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        
                        <!--__details of reservation including "confirmation date"__-->
                        <div class="col-6">
                            <div class="divDetails">

                                <div style="display: flex;justify-content: center;">

                                    <!--____Check in____-->
                                    <div class="divCheckInOut" style="margin-right:20px;">
                                        <p class="paCheckINOut" style="font-family: inter_bold; color:#FFD700;">CHECK IN</p>
                                        <p class="paNumbCheckInOut">{{dateCheckOutCheckIn(arrHandle[1].checkin_date, [1])}}</p>
                                        <p class="paCheckINOut" style="font-family: inter_regular;color:white">
                                            {{dateCheckOutCheckIn(arrHandle[1].checkin_date, [0,2])}}
                                        </p>
                                    </div>

                                    <!--____Check out____-->
                                    <div class="divCheckInOut">
                                        <p class="paCheckINOut" style="font-family: inter_bold; color:#FFD700;">CHECK OUT</p>
                                        <p class="paNumbCheckInOut">{{dateCheckOutCheckIn(arrHandle[1].checkout_date, [1])}}</p>
                                        <p class="paCheckINOut" style="font-family: inter_regular;color:white">
                                            {{dateCheckOutCheckIn(arrHandle[1].checkout_date, [0,2])}}
                                        </p>
                                    </div>
                                </div>

                                <!--___DETAILS___-->
                                <div style="margin-top:20px;">
                                    <div class="pdetails">Details</div>

                                    <div *ngIf="arrHandle[1].paymentMethod==='payment1'" class="paDetailsMiddle">
                                        <span style="font-family: inter_medium !important;">Confirmation date</span>
                                        <span>{{arrHandle[1].confirmation_date !== '' ? arrHandle[1].confirmation_date: 'no-date'}}</span>
                                    </div>

                                    <div class="paDetailsMiddle">
                                        <span style="font-family: inter_medium !important;">
                                            {{arrHandle[1].paymentMethod==='payment2' ? "Transaction paid date":'Transaction date'}}</span>
                                        <span>{{arrHandle[1].transaction_date}}</span>
                                    </div>


                                    <div class="paDetailsMiddle">
                                        <span style="font-family: inter_medium !important;">{{arrHandle[1].acquired_persons}} persons</span>
                                        <span>{{arrHandle[1].persons_price}}</span>
                                    </div>

                                    <div class="paDetailsMiddle">
                                        <span style="font-family: inter_medium !important;">Total price a day</span>
                                        <span>{{arrHandle[1].total_day_price}}</span>
                                    </div>

                                    <div class="paDetailsMiddle">
                                        <span style="font-family: inter_medium !important;">Price</span>
                                        <span>{{arrHandle[1].defaultPrice}}</span>
                                    </div>

                                    <div class="pdetails" style="margin-top:10px;display: flex;justify-content: space-between;background:#5C5656 !important;">
                                        <span>Total</span>
                                        <span>{{arrHandle[1].total_price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!printing_condition">
                    <div *ngIf="arrHandle[1].delete_admin === 'false'" style="display:flex;justify-content: center;">
                        <button class="btn btn-danger" style="width:25%;" (click)="funcDelete_reservation(false)">Move to Archive</button>

                        <!--<button *ngIf="arrHandle[1].confirmNot === 'true' && arrHandle[1].paymentMethod==='payment1'" 
                        class="btn btn-primary" style="margin-left:10px;width:25%;" 
                        (click)="funcCancel_Reservation(true)">Cancel request</button>-->
                    </div>

                    <div *ngIf="arrHandle[1].delete_admin === 'tempoDelete'" style="display:flex;justify-content: center;">
                        <button class="btn btn-danger" style="width:25%;" (click)="funcDelete_reservation(true)">Delete permanently</button>

                        <button  class="btn btn-primary" style="margin-left:10px;width:25%;" (click)="funcCancel_Reservation(false)">Retrieve request</button>
                    </div>
                </div> 
            </div>

        </div>
    </div>

    <!--____________Call appointment information show_______________-->
    <div class="fixedDiv" *ngIf="conditionFixDiv3">
        <div class="container contain_appointment">
            <div class="info_appointment">
                <div>
                    <span class="paXappointment" (click)="conditionFixDiv3 = false">X</span>
                </div>
                <p class="paHeaderHapp"><span style="font-family: inter_bold;">Transaction id: </span><span style="font-family: inter_regular;">{{arrHandle[0].transaction_ID}}</span></p>
                <p class="paHeaderHapp"><span style="font-family: inter_bold;">Transaction date: </span><span style="font-family: inter_regular;">{{arrHandle[0].timeDate}}</span></p>

                <div style="margin:20px 0px 15px 0px;">
                    <p class="paHeaderapp" style="font-family: inter_bold;">Information:</p>

                    <p class="paInfoApp">Full name: {{arrHandle[0].fullname}}</p>
                    <p class="paInfoApp">Email: {{arrHandle[0].reserved_email}}</p>
                    <p class="paInfoApp">Number of Guest: {{arrHandle[0].numGuest}}</p>
                    <p class="paInfoApp">Contact number: {{arrHandle[0].contact_num}}</p>

                    <!--___Guest info____-->
                    <div style="margin:10px 0px 10px 0px;">
                        <p class="paHeaderapp" style="font-family: inter_bold;">Guest info:</p>
                        <span *ngIf="arrHandle[0].guest_member.split('\n')[0].length == 0" >No guest info filled up.</span>

                        <table *ngIf="arrHandle[0].guest_member.split('\n')[0].length != 0" class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Contact-number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let guestInfo of arrHandle[0].guest_member.split('\n'); index as indexes">
                                <th scope="row">{{(indexes+1)}}</th>
                                <td>{{guestInfo.split(',')[0]}}</td>
                                <td>{{guestInfo.split(',')[1]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--__Message___-->
                    <div style="margin:10px 0px 10px 0px;">
                        <p class="paHeaderapp" style="font-family: inter_bold;">Message:</p>
                        <p class="paMessage">{{arrHandle[0].message}}</p>
                    </div>

                    <div style="margin:30px 0px 5px 0px;display: flex;justify-content: center;">

                        <button class="btn btn-danger" style="width:30%;" 
                            *ngIf="arrHandle[0].acceptedNot !== 'true' && arrHandle[0].deleteNot !== 'true'"
                            (click)="funcDelete_reservation(false)">Move to Archive</button>

                        <!--__From accept__-->
                        <div *ngIf="arrHandle[0].acceptedNot === 'true' && arrHandle[0].deleteNot !== 'true'"  style="width:100%;display: flex;justify-content: center;">
                            <button class="btn btn-danger" style="width:30%;" (click)="funcDelete_reservation(false)">Move to Archive</button>
                            <button  class="btn btn-primary" style="margin-left:10px;width:30%;" (click)="funcCancel_Reservation(true)">Cancel request</button>
                        </div>

                        <!--__From Trash__-->
                        <div *ngIf="arrHandle[0].deleteNot === 'true'" style="width:100%;display: flex;justify-content: center;">
                            <button class="btn btn-danger" style="width:30%;" (click)="funcDelete_reservation(true)">Delete permanently</button>
                            <button  class="btn btn-primary" style="margin-left:10px;width:30%;" (click)="funcCancel_Reservation(false)">Retrieve request</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <!--____________Call add admin information show_______________-->
    <div class="fixedDiv" *ngIf="conditionFixDiv4">
        
        <div *ngIf="condition_signup_clicked" style="width:100%;height:100%;display: flex;align-items: center;z-index:10;background:rgba(0, 0, 0, 0.326);position: absolute;">
            <!--___________________THIS IS FOR POP-UP changing Password______________________-->
            <div class="container divSuccesschangePass">
                <div class="container-fluid">
                    <div style="display: flex;justify-content: center;">
                        <p class="paSuccessChange">Successfully created admin!</p>
                    </div>
                    <button class="btn btn-primary passwordChange" (click)="condition_signup_clicked=false">Close</button>
                </div>
            </div>
        </div>

        <div style="height:100%;display: flex;align-items: center;position: relative;">
            <!--________SIGN UP__________-->
            <div class="container signUpdiv" (click)="$event.stopPropagation()">
                <p class="paX paX-font" (click)="funcSignIn('false')">X</p>
                <p class="paLoginSignup paLoginSignup-font">Add admin</p>

                <!--___Fill up___-->
                <div class="divFillSign">
                    <form [formGroup]="formGroup_signup">
                        <div class="row">
                            <div class="col-6 padCol6">
                                <input type="text" formControlName="firstname" placeholder="First name" class="form-control forminputReg forminputReg-font" />
                                <div *ngIf="errorSignupArr[0][1]">
                                    <span class="paError">{{errorSignupArr[0][0]}}</span>
                                </div>
                            </div>
                            <div class="col-6 padCol6">
                                <input type="text" formControlName="lastname" placeholder="Last name" class="form-control forminputReg forminputReg-font" />
                                <div *ngIf="errorSignupArr[1][1]">
                                    <span class="paError">{{errorSignupArr[1][0]}}</span>
                                </div>
                            </div>
            
                            <div class="col-12 margCol12">
                                <input type="text" formControlName="contactnumber" placeholder="Contact number" class="form-control forminputReg forminputReg-font" />
                                <div *ngIf="errorSignupArr[2][1]">
                                    <span class="paError">{{errorSignupArr[2][0]}}</span>
                                </div>
                            </div>
            
                            <div class="col-lg-6 col-12 padCol6">
                                <input type="text" formControlName="email" placeholder="Email" class="form-control forminputReg forminputReg-font" />
                                <div *ngIf="errorSignupArr[3][1]">
                                    <span class="paError">{{errorSignupArr[3][0]}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 padCol6">
                                <input type="password" formControlName="password" placeholder="Password" class="form-control forminputReg forminputReg-font" />
                                <div *ngIf="errorSignupArr[4][1]">
                                    <span class="paError">{{errorSignupArr[4][0]}}</span>
                                </div>
                            </div>
            
                            <p class="paGenderAccount">Gender:</p>
            
                            <div class="col-12 margCol12">
                                <select class="form-select formselect">
                                    <option selected>Select your Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Prefer not to say">Prefer not to say</option>
                                </select>
                                <div *ngIf="errorSignupArr[5][1]">
                                    <span class="paError">{{errorSignupArr[5][0]}}</span>
                                </div>
                            </div>
                        

                            <button class="btn btn-primary signUpbttn signUpbttn-font" (click)="FuncsignUp()">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--_____________Call see image selected____________________-->
    <div class="divFix" *ngIf="img_selected.length > 0 && conditionFixDiv2 && conditionSeeImage">
        <div style="position: absolute;right: 10px;top:10px;">
            <img src="/assets/icon/x_Image.png" class="img-fluid" style="height:35px;cursor: pointer;" (click)="closeImage()"/>
        </div>
        <div class="container" style="padding:0%;">
            <img [src]="img_selected" class="img-fluid" style="height: 50%;" />
        </div>
    </div>


    <!--____________________background image____________________-->
    <div class="img_icon">
        <img src="/assets/icon/admin_231.png" class="img-fluid" style="width:100%;height:100%;" />
    </div>
    <div class="main">


        <!--_________________________ADMIN NAVIGATION_____________________________-->
        <div class="container components">

            <!--_____________Header names_____________-->
            <div class="divHeader-compo">
                <div>
                    <div style="display: flex;justify-content: center;">
                        <img src="/assets/logo/logo.png" class="img-fluid" style="height:110px;margin-bottom:10px;" />
                    </div>

                    <p class="pName">{{str_name}}</p>
                    <p class="pAdmin">Administrator</p>
                </div>
            </div>

            <!--_____________Components_____________-->
            <div class="divCompo-body">
                <p class="pComponent">Components</p>

                <div [ngClass]="['div_clickables_compo', num_selectionCondition == 0 ? 'backgrondDiv':'']" (click)="funcSelected(0)">
                    <div style="width:25%;">
                        <img src="/assets/icon/dashboard.png" class="img-fluid" style="height:25px;" />
                    </div>
                    <div style="width:75%;display: flex;align-items: center;">
                        <span class="sNameCompo">Dashboard</span>
                    </div>
                </div>

                <div [ngClass]="['div_clickables_compo', num_selectionCondition == 1 ? 'backgrondDiv':'']" (click)="funcSelected(1)">
                    <div style="width:25%;">
                        <img src="/assets/icon/appointment.png" class="img-fluid" style="height:30px;"  />
                    </div>
                    <div style="width:75%;display: flex;align-items: center;">
                        <span class="sNameCompo">Appointments</span>
                    </div>
                </div>

                <div [ngClass]="['div_clickables_compo', num_selectionCondition == 2 ? 'backgrondDiv':'']" (click)="funcSelected(2)">
                    <div style="width:25%;">
                        <img src="/assets/icon/sched_admin.png" class="img-fluid" style="height:30px;"  />
                    </div>
                    <div style="width:75%;display: flex;align-items: center;">
                        <span class="sNameCompo">Schedules</span>
                    </div>
                </div>

                <div [ngClass]="['div_clickables_compo', num_selectionCondition == 3 ? 'backgrondDiv':'']" (click)="funcSelected(3)">
                    <div style="width:25%;">
                        <img src="/assets/icon/rooms_admin.png" class="img-fluid" style="height:30px;"  />
                    </div>
                    <div style="width:75%;display: flex;align-items: center;">
                        <span class="sNameCompo">Rooms</span>
                    </div>
                </div>

                <div [ngClass]="['div_clickables_compo', num_selectionCondition == 4 ? 'backgrondDiv':'']" (click)="funcSelected(4)">
                    <div style="width:25%;">
                        <img src="/assets/icon/reservation.png" class="img-fluid" style="width:80%;height:33px;"  />
                    </div>
                    <div style="width:75%;display: flex;align-items: center;">
                        <span class="sNameCompo">Reservations</span>
                    </div>
                </div>

                <div [ngClass]="['div_clickables_compo', num_selectionCondition == 5 ? 'backgrondDiv':'']" (click)="funcSelected(5)">
                    <div style="width:25%;">
                        <img src="/assets/icon/account_admin.png" class="img-fluid" style="height:30px;"  />
                    </div>
                    <div style="width:75%;display: flex;align-items: center;">
                        <span class="sNameCompo">Account setting</span>
                    </div>
                </div>


                <div [ngClass]="['div_clickables_compo']">
                    <div style="width:25%;">
                        <img src="/assets/icon/logout_admin.png" class="img-fluid" style="height:30px;"  />
                    </div>
                    <div style="width:75%;display: flex;align-items: center;" (click)="logOut()">
                        <span class="sNameCompo">Logout</span>
                    </div>
                </div>
            </div>
        </div>


        <!--_____________________ALL THE ADMIN ROUTER___________________________-->
        <div class="routers">
            <div class="routers_through" [ngStyle]="{ 'background': num_selectionCondition != 5 ? 'white':'none' }" >
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
