
/* ________________________Font from ttf extension_________________________ */

@font-face {
    font-family: inter_regular;
    src: url(/assets/Inter-Regular.ttf);
}

@font-face {
    font-family: inter_medium;
    src: url(/assets/Inter-Medium.ttf);
}

@font-face {
    font-family: inter_semibold;
    src: url(/assets/Inter-SemiBold.ttf);
}

@font-face {
    font-family: inter_bold;
    src: url(/assets/Inter-Bold.ttf);
}


@font-face {
    font-family: inria_serif_bold;
    src: url(/assets/InriaSerif-Bold.ttf);
}


/*__________________________________________________________________________*/


.navigationInbox{
    max-width:250px;
    margin-right:25px;
}


.pfolders{
    font-family: inter_bold;
    font-size:19px;
    color:#493B3B;
    padding-left:15px;
    margin-bottom:10px;
}

.div_clickables_compo{
    padding:10px 10px 10px 10px;
    border-radius:10px;
    display:flex;
    cursor: pointer;
    margin-bottom:5px;
}

.div_clickables_compo:hover{
    background:#FEE2BB;
}

.divIconInboxes{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
}

.backgrondDiv{
    background:#FFD700;
}

.sNameCompo{
    font-family: inter_regular;
    font-size:15px;
    color:#493B3B;
}

.pInbox{
    font-family: inter_medium;
    font-size:33px;
    color:#493B3B;
    margin:0px 0px 10px 0px;
}

.line{
    width:100%;
    border:1px solid #CECAD1;
    margin-bottom:10px;
}

.inboxDeleting{
    display: flex;
    align-items: center;
    font-family: inter_medium;
    font-size:16px;
    color:white;
}