
.divContain{
    border-radius:10px;
    width:100%;
    padding:20px;
}

.rowInfo{
    border-top:1px solid rgb(202, 197, 197);
    padding:0%;
    margin:0px 0px 20px 0px;
}

.paInfo{
    font-family: inter_bold;
    font-size:24px;
    color:#493B3B;
    margin:0%;
}

.paMess{
    font-family: inter_regular;
    font-size:15px;
    color:rgb(47, 46, 46);
    margin:0px 0px 30px 0px;
}

.divIn{
    padding:10px;
    border-bottom: 1px solid rgb(202, 197, 197);
    font-size:16px;

}

.cPass{
    border-radius:20px;
    background:#FFD700;
    color:black;
    border:none;
    font-family: inter_regular;
    padding:8px 20px 8px 20px;
    font-size: 14px;
}