
/* ________________________Font from ttf extension_________________________ */

@font-face {
    font-family: inter_regular;
    src: url(/assets/Inter-Regular.ttf);
}

@font-face {
    font-family: inter_medium;
    src: url(/assets/Inter-Medium.ttf);
}

@font-face {
    font-family: inter_semibold;
    src: url(/assets/Inter-SemiBold.ttf);
}

@font-face {
    font-family: inter_bold;
    src: url(/assets/Inter-Bold.ttf);
}


@font-face {
    font-family: inria_serif_bold;
    src: url(/assets/InriaSerif-Bold.ttf);
}


/*__________________________________________________________________________*/

.navigationforAll{
    background:rgba(0, 0, 0, 0.582);
    z-index:100;
    padding:0px;
    position: fixed;
}

.naviclicked{
    min-height:100vh;
    padding:0px;
    z-index:100;
    padding-top:50px;
    background:#493B3B;
    position:fixed;
}

.conX{
    color:white;
    font-family: inter_bold;
    margin-bottom:40px;
    cursor: pointer;
}

.conX-font{
    font-size:30px;
}

.divborder1{
    border-top:1px solid #747272;
    padding-top:23px;
    padding-bottom:23px;
}


.divmenuicon{
    max-width:40px;
    max-height:40px;
    cursor: pointer;
}

.divlogo{
    max-width:90px;
    max-height:130px;
    padding-top:10px;
    padding-bottom:10px;
}

.colMiddleNavi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logomenu{
    max-width:400px;
    max-height:400px;
    display:block;
}

.divLogoCorner{
    display:none;
}


.navclickable{
    font-family: inria_serif_bold;
    padding-left:20px;
    padding-right:20px;
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
}

.navclickable-font{
    font-size:30px; 
}


.btn_signin{
    border-radius:20px;
    font-family: inter_medium;
    font-size:17px;
    background:#FFD700;
    color:#281E60;
    padding-right:20px;
    padding-left:20px;
    border:none;
    position:relative;
    left:-20px;
}

.email{
    font-size:17px;
    font-family: inter_bold;
    color:#FCFBFB;
    margin:0px 0px 0px 15px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:150px;
}

.iconNoti{
    max-width:30px;
    height:30px;
    cursor: pointer;
    position: relative;
}

.paPositionNumb_noti{
    font-family: inter_bold;
    font-size:13px;
    margin:0%;
    border-radius: 5px;
    background: gold;
    padding: 3px 5px 3px 5px;
    position: absolute;
    top:-10px;left:-10px;
}

.div_notiParent{
    width:420px;
    min-height:350px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.242);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top:40px;left:-390px;
}

.divNotiParent{
    min-height:100px;
    border:2px solid #F1F1F1;
    background:white;
    padding:15px;
}

.new{
    padding:3px 10px 3px 10px;
    margin-right: 10px;
    border-radius: 10px;
    background:#F63030;
    color:white;
    font-family: inter_medium;
    font-size:13px;
}

.nameHeader{
    font-family: inter_semibold;
}


.paMessage{
    font-family: inter_regular;
    font-size:14px;
    color:#4b4949;
    margin:0%;
}

.paDate{
    font-family: inter_medium;
    font-size:13px;
    color:#4b4949;
}

.seeAllNotification{
    font-family: inter_medium;
    font-size:15px;
    color:#0063A8;
    margin:0%;
    cursor:pointer;
}

.contactusfooter{
    font-family: poppins_regular;
    font-size: 23px;
}

.p1{
    font-family: poppins_bold;
    font-size: 16px;
}

.s1{
    font-family: poppins_regular;
    font-size: 15px;
}

.followUs{
    text-align: center;
    font-family: inter_medium;
}

.followUs-font{
    font-size:18px;
}

.appointtxttitle{
    font-size: 27px;
    font-family: inter_bold;
    color:#0063A8;
    margin-bottom:15px;
}

.appointtxtinfo{
    font-family: inter_regular;
    font-size:17px;
    width:45%;
    margin-top:10px;
}

.labels{
    font-family: inter_regular;
    font-size:17px;
    margin-bottom:10px;
}

.forminput{
    border-radius: 10px;
    padding:10px;
    font-size:15px;
    font-family: inter_regular;
    border:1px solid black;
}

.divformrow{
    margin-top:15px;
}

.paAllGuest{
    font-family: inter_medium;
    font-size:14px;
}

.parentGD{
    margin-top:5px;
    padding:15px;
    background:#F2F3F6;
    border-radius:10px;
}

.patiGuest{
    font-family: inter_bold;
    font-size:14px;
    margin:0px 0px 3px 0px;
}

.inputDetails{
    width:30%;
    padding-right:10px;
}

.forminput_details{
    height:35px;
    border-radius: 5px;
    padding:10px;
    font-size:14px;
    font-family: inter_regular;
}

.img_xDetails{
    height:15px;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 2px;
}

.paAddGuest{
    font-family: inter_regular;
    font-size:13px;
    color:blue;
    cursor: pointer;
}

.forminputtextarea{
    height:270px;
    border-radius: 15px;
    padding:10px;
    border:1px solid black;
}

.dates{
    height:250px;
    border-radius: 15px;
    border:1px solid black;
}

.dateTimeDivs{
    padding-left:60px;padding-right:30px;
}

.selecttdtxt{
    font-family: inter_semibold;
    font-size:24px;
    color:#493B3B;
}

.divknowing{
    max-width:110px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.divknowingnot{
    max-width:140px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(213, 213, 213);
    margin-left:20px;
    padding:5px;
}

.boxknowing{
    width:20px;
    min-height:20px;
    border:2px solid black;
}

.txtknowing{
    font-family: inter_regular;
    margin-left:10px;
}

.txtknowing-font{
    font-size:16px;
}

.xknowing{
    height:100%;
    text-align: center;
    margin:0%;
    padding:0px;
}

.btnsubmitbttn{
    width:80%;
    border-radius:20px;
    font-family: inter_regular;
    background:#FFD700;
    border:none;
    color:black;
    margin-top:30px;
}

.btnsubmitbttm-fon{
    font-size:18px;
}



:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}


.calendar {
    max-height: 500px;
    max-width: 100%;
    background-color: var(--bg-main);
    border-radius: 30px;
    padding:30px 0px 30px 0px;
    background:rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.152);
    position: relative;
    /* transform: scale(1.25); */
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-body {
    width:100%;
    display: flex;
    justify-content: center;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 500;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--color-txt);
    
}   

.cols {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.calendar-days div span {
    position: absolute;
}


.month-picker {
    border-radius: 10px;
    cursor: pointer;
    font-family: inter_semibold;
    padding-left:30px;
}

.fontSizeMonth{
    font-size:24px;
}


.year-picker {
    min-width:20px;
    display: flex;
    align-items: center;
    float:right;
    font-family: inter_semibold;
    margin-right:30px;
}

.year-picker-font{
    font-size:24px;
}

.year-change {
    width:15px;
}

.prenext{
    cursor: pointer;
}

.curr-date{
    background:#FFD700;
}


.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.month-list {
    position:relative;
    background-color: var(--bg-main);
    margin-top:10px;
}

.colfdivmontjh{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colmonth{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    cursor: pointer;
}

.colmonth2{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    background: rgb(213, 213, 213);
    cursor: context-menu;
}

.colmonth:hover{
    background:#ADD8E6;
    border-radius:5px;
}

.containerloginSignup{
    height:100vh;
    background:rgba(0, 0, 0, 0.5);
    z-index:110;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.logindiv{
    width:450px;
    min-height:500px;
    background:#FCFBFB;
    border-radius:10px;
    padding-top:20px;
    padding-bottom:30px;
}

.paX{
    margin:0px;
    font-family: inter_bold;
    padding-left:20px;
    padding-top:15px;
    cursor: pointer;
}

.paX-font{
    font-size:22px;
}

.paLoginSignup{
    margin-top:-5px;
    font-family: inter_bold;
    text-align: center;
    color:#0063A8;
}

.paLoginSignup-font{
    font-size:30px;
}

.divFill{
    padding-left: 46px;
    padding-right: 46px;
    margin-top:40px;
}

.divFillSign{
    padding-left: 46px;
    padding-right: 46px;
    margin-top:30px;
}

.divGoogle{
    border:2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.divGoogle-height{
    height:50px;
}

.img_google{
    max-height:25px;margin-right:10px;
}

.paGoogle{
    margin: 0px;
    font-family: inter_bold;
    color:#493B3B;
}

.paGoogle-font{
    font-size: 17px;
}

.paOr{
    font-family: inter_bold;
    font-size: 16px;
    color:#6D6871;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}

.forminputLog{
    border-radius: 10px;
    border:none;
    border:2px solid black;
    padding: 10px 15px 10px 15px;
}

.forminputLog-font{
    font-size:17px;
}

.forminputReg{
    border-radius: 10px;
    border:none;
    border:2px solid black;
    padding: 10px 15px 10px 15px;
}

.forminputReg-font{
    font-size:17px;
}

.loginbttn{
    width:100%;
    border-radius:20px;
    font-family: inter_medium;
    background:#FFD700;
    text-align: center;
    border:none;
    color:black;
    padding: 10px 0px 10px 0px;
    margin-top:15px;
}

.loginbttn-font{
    font-size:18px;
}

.signUpbttn, .passwordChange{
    width:100%;
    border-radius:20px;
    font-family: inter_medium;
    background:#FFD700;
    text-align: center;
    border:none;
    color:black;
    padding: 10px 0px 10px 0px;
    margin-top:5px;
}

.signUpbttn-font, .passwordChange-font{
    font-size:18px;
}

.paForgot{
    font-family: inter_medium;
    color:#0063A8;
    text-align: center;
    margin:0px;
    cursor: pointer;
}

.paForgot-font{
    font-size:16px;
}

.padontHave{
    font-family: inter_medium;
    color: #B59595;
}

.padontHave-font{
    font-size: 16px;
}

.paCreate{
    font-family: inter_medium;
    color: #0063A8;
    cursor: pointer;
}

.paCreate-font{
    font-size: 16px;
}

.signUpdiv{
    width:600px;
    background:#FCFBFB;
    border-radius:10px;
    padding-top:20px;
    padding-bottom:45px;
}

.padCol6{
    padding:0px 5px 0px 5px;
    margin-bottom:15px;
}

.margCol12{
    padding:0px 5px 0px 5px;
    margin-bottom: 15px;
}

.paGenderAccount{
    margin:0px 0px 15px 0px;
    padding:0px 5px 0px 5px;
    font-family: inter_medium;
    font-size:18px;
}

.formselect{
    padding:10px 5px 10px 5px;
    border:2px solid black;
    border-radius:10px;
}

.formselectAppointment{
    padding:10px 5px 10px 5px;
    border-radius:10px;
    border:1px solid black;
}

.paError{
    font-family: inter_bold;
    font-size:14px;
    color:rgb(216, 67, 67);
}

.forgotDiv, .divchangePass{
    width:600px;
    min-height:200px;
    background:white;
    border-radius:10px;
    padding-bottom:15px;
}

.paForgotPass{
    margin-top:-5px;
    font-family: inter_bold;
    text-align: center;
    color:#0063A8;
    margin-bottom:15px;
}

.paForgotPass-font{
    font-size:25px;
}

.paNote{
    font-family: inter_bold;
    margin:0px 0px 5px 0px;
}

.paNote-font{
    font-size:17px;
}

.ulBu{
    font-family: inter_medium;
    font-size:16px;
}

.btn-getOTP{
    font-family: inter_bold;
    background:#FFD700;
    border-radius:15px;
    border:none;
    color:black;
    width:100%;
    height:50px;
}

.paSuccessChange{
    margin-top:-5px;
    font-family: inter_bold;
    text-align: center;
    color:#0063A8;
    margin-bottom:15px;
}

.paSuccessChange-font{
    font-size:22px;
}

.divSuccesschangePass{
    width:500px;
    max-height:250px;
    padding:20px;
    background:white;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divSuccesss{
    max-width:400px;
    background:white;
    border-radius:10px;
    padding:30px;
}

.paSuccess{
    margin-top:-5px;
    font-family: inter_bold;
    text-align: center;
    margin-bottom:10px;
    color:#0063A8;
    line-height: 130%;
}

.paSuccess-font{
    font-size:20px;
}

.successBttn{
    width:100%;
    border-radius:20px;
    font-family: inter_medium;
    background:#FFD700;
    text-align: center;
    border:none;
    color:black;
    padding: 10px 0px 10px 0px;
    margin-top:5px;
}

.successBttn-font{
    font-size:17px;
}


.appointmentDivs{
    padding-top:50px;
    padding-bottom:50px;
    background:#FCFBFB;
}

.emailCol{
    margin:0%;
}

.containerFooter{
    max-width:1200px;padding:40px;
}

.footerFollowUs{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.reserveds{
    margin:0%;padding-left:10px;padding-right:10px;
}

.fontadminNot{
    font-size:17px;
}

.rowGetOTPTxt{
    margin:0%;
}

.rowBttnOTPTxt{
    margin:0%;padding:0px 10px 0px 0px;
}

/* ________________________@MEDIA DESIGN_________________________ */

/*992px for middle col-lg*/
@media (max-width:992px){
    .divLogoCorner{
        display: block;
    }

    .logomenu{
        display:none;
    }


    .rightSidesNavi{
        display: none;
    }

    .conX{
        color:white;
        font-family: inter_bold;
        cursor: pointer;
    }

    .divlogo{
        max-width:90px;
        max-height:130px;
        padding-top:10px;
        padding-bottom:10px;
        float: right;
    }
    
    .colMiddleNavi{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .footerFollowUs{
        height:100%;display: flex;justify-content: flex-end;position: relative;
    }

    .reserveds{
        text-align: center;
        padding:20px;
        font-size:16px;
    }
}


/*768px for small col-sm*/
@media (max-width: 768px){
    .naviclicked{
        min-height:100vh;
        padding:0px;
        z-index:100;
        padding-top:10px;
        background:#493B3B;
        position:fixed;
    }

    .divmenuicon{
        max-width:30px;
        max-height:30px;
        cursor: pointer;
    }

    .conX-font{
        font-size:26px;
    }

    .navclickable-font{
        font-size:25px; 
    }

    .divlogo{
        max-width:60px;
        max-height:90px;
        padding-top:10px;
        padding-bottom:10px;
        float: right;
    }

    .dateTimeDivs{
        margin-top:20px;
        padding:0%;
    }    

    .appointtxttitle{
        font-size: 22px;
        font-family: inter_bold;
        color:#0063A8;
        margin-bottom:15px;
    }

    .appointtxtinfo{
        font-family: inter_regular;
        font-size:14px;
        margin-top:5px;
        min-width:100%;
    }

    .appointmentDivs{
        padding-top:30px;
        padding-bottom:30px;
        background:#FCFBFB;
    }

    .labels{
        font-family: inter_regular;
        font-size:15px;
        margin-bottom:10px;
    }

    .emailCol{
        margin-top:10px;
    }

    .forminput{
        border-radius: 10px;
        padding:10px;
        font-size:14px;
        font-family: inter_regular;
        border:1px solid black;
    }

    .forminputtextarea{
        height:270px;
        border-radius: 14px;
        padding:10px;
        border:1px solid black;
    }

    .appointmentContainer{
        padding:0%;
    }

    .selecttdtxt{
        font-family: inter_semibold;
        font-size:20px;
        color:#493B3B;
    }

    .dateTimeDivs{
        padding:0%;
        margin:20px 0px 0px 0px;
    }

    .fontSizeMonth{
        font-size:20px;
    }

    .year-picker-font{
        font-size:20px;
    }

    .calendar-body {
        width:100%;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .txtknowing-font{
        font-size:14px;
    }

    .contactusfooter{
        font-family: poppins_regular;
        font-size: 18px;
    }

    .containerFooter{
        max-width:1200px;
        padding:20px 15px 30px 15px;
    }

    .footerFollowUs{
        height:100%;
        display: flex;
        justify-content: center;
        margin:10px 0px 15px 0px;
    }

    .followUs-font{
        font-size:18px;
    }

    .paX-font{
        font-size:20px;
    }

    .paLoginSignup-font{
        font-size:25px;
    }

    .divGoogle-height{
        height:45px;
    }

    .img_google{
        max-height:20px;margin-right:10px;
    }

    .divFill{
        padding-left: 20px;
        padding-right: 20px;
        margin-top:40px;
    }

    .divFillSign{
        padding-left: 20px;
        padding-right: 20px;
        margin-top:30px;
    }

    .signUpdiv{
        width:600px;
        background:#FCFBFB;
        border-radius:10px;
        padding-bottom:20px;
    }

    .paGenderAccount{
        margin:0px 0px 5px 0px;
        padding:0px 5px 0px 5px;
        font-family: inter_medium;
        font-size:16px;
    }

    .formselect{
        padding:10px 5px 10px 5px;
        border:2px solid black;
        border-radius:10px;
        font-size: 15px;
    }

    .paError{
        font-family: inter_bold;
        font-size:12px;
        color:rgb(216, 67, 67);
    }

    .paForgotPass-font{
        font-size:20px;
    }

    .paNote-font{
        font-size:16px;
    }

    .ulBu{
        font-family: inter_medium;
        font-size:15px;
    }

    .rowGetOTPTxt{
        margin:0%;
        padding: 0px 5px 0px 5px;
    }

    .rowBttnOTPTxt{
        margin:10px 0px 0px 0px; 
        padding: 0px 5px 0px 5px;
    }

    .paSuccessChange-font, .paSuccess-font{
        font-size:17px;
    }

    .paForgot-font, .padontHave-font, .paCreate-font, .forminputLog-font, .paGoogle-font, .btnsubmitbttm-font, .loginbttn-font,
    .forminputReg-font, .fontadminNot, .signUpbttn-font, .passwordChange-font, .btn-getOTP-font, .successBttn-font{
        font-size:15px;
    }
}