<div style="min-height:100vh;background:#F2F3F6;padding: 0%;">

    <!--_______________Image Selected_____________________-->
    <div class="divFix" *ngIf="img_selected.length > 0">
        <div style="position: absolute;right: 10px;top:10px;">
            <img src="/assets/icon/x_Image.png" class="img-fluid" style="height:35px;cursor: pointer;" (click)="this.img_selected=''"/>
        </div>
        <div class="container" style="padding:0%;display:flex;justify-content: center;">
            <img [src]="img_selected" class="img-fluid" style="height: 50%;" />
        </div>
    </div>
    
    <!--_____________________EMIT CALL___________________________-->
    <div class="fixedDiv" *ngIf="conditionFixDiv">

        <!--___________________THIS IS FOR CHANGE PASSWORD______________________-->
        <div *ngIf="arrHandle[0] === 'ChangePassAdmin'" style="padding:10px;display: flex;align-items: center;height:100%;">
            <div class="container chPass">
                <p class="paX paX-font" (click)="conditionFixDiv = false">X</p>
                <p class="paForgotPass paForgotPass-font">Change Password</p>

                <div [formGroup]="formGroup_newPassword"  style="padding:0px 20px 10px 20px;margin-top:30px;">
                    <div style="margin-bottom:10px;">
                        <div style="position:relative;">
                            <input [type]="!seeNotArr_password[0] ? 'password':'text'" formControlName="currentPass" placeholder="Enter your current password"
                                class="form-control pass_padding forminputReg forminputReg-font" />
        
                            <div style="display: flex;align-items: center;">
                                <img [src]="!seeNotArr_password[0] ? '/assets/icon/eye_hide.png': '/assets/icon/eye_view.png'" 
                                    class="img-fluid eye_pass" (click)="passSeeNot('pass')" />
                            </div>
                        </div>

                        <div *ngIf="errArrPassword[0][0]">
                            <span class="paError">{{errArrPassword[0][1]}}</span>
                        </div>
                    </div>
                    <div style="margin-bottom:10px;">
                        <div style="position:relative;">
                            <input [type]="!seeNotArr_password[1] ? 'password':'text'" formControlName="newPass" placeholder="Enter your new password"
                                class="form-control pass_padding forminputReg forminputReg-font" />
        
                            <div style="display: flex;align-items: center;">
                                <img [src]="!seeNotArr_password[1] ? '/assets/icon/eye_hide.png': '/assets/icon/eye_view.png'" 
                                    class="img-fluid eye_pass" (click)="passSeeNot('newPass')" />
                            </div>
                        </div>

                        <div *ngIf="errArrPassword[1][0]">
                            <span class="paError">{{errArrPassword[1][1]}}</span>
                        </div>
                    </div>

                    <div style="margin-bottom:10px;">
                        <div style="position:relative;">
                            <input [type]="!seeNotArr_password[2] ? 'password':'text'" formControlName="confirmPass" placeholder="Confirm your new password"
                                class="form-control pass_padding forminputReg forminputReg-font" />
        
                            <div style="display: flex;align-items: center;">
                                <img [src]="!seeNotArr_password[2] ? '/assets/icon/eye_hide.png': '/assets/icon/eye_view.png'" 
                                    class="img-fluid eye_pass" (click)="passSeeNot('confirm')" />
                            </div>
                        </div>

                        <div *ngIf="errArrPassword[2][0]">
                            <span class="paError">{{errArrPassword[2][1]}}</span>
                        </div>
                    </div>

                    <button class="btn btn-primary passwordChange passwordChange-font" (click)="changePassword()">Change</button>
                </div>
            </div>


            <!--___________________THIS IS FOR POP-UP changing Password______________________-->
            <div *ngIf="arrHandle[0] === 'popUPChangePassAdmin'" class="container divSuccesschangePass">
                <div class="container-fluid">
                    <div style="display: flex;justify-content: center;">
                        <p class="paSuccessChange">Successfully changing your password!</p>
                    </div>
                    <button class="btn btn-primary passwordChange" (click)="conditionFixDiv = false">Close</button>
                </div>
            </div>
        </div>


        <!--_____YES OR NO_______-->
        <div *ngIf="arrHandle[0] === 'yesNo'" style="display: flex;justify-content: center;align-items: center;height:100%;">
            <div class="havePopup">
                <div class="container boxHS">
                    <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
                        <div class="paCancel">
                            <span>{{arrHandle[1]}}</span>
                        </div>
                    </div>
    
                    <div class="paMe">{{arrHandle[2]}}</div>
                    
                    <div>
                        <div style="max-width:120px;float: right;display: flex;">
                            <div class="paYes" (click)="yesNO(true)">YES</div>
                            <div class="paNo" (click)="yesNO(false)">NO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--_________________THIS IS LOADING PROGRESS__________________-->
        <div *ngIf="arrHandle[0] === 'progress'"  style="display: flex;justify-content: center;align-items: center;height:100%;">
            <div (click)="$event.stopPropagation()" class="divProgress">
                <div class="container" style="padding:0%;position: relative;">
                    <div>
                        <!--___Percent text___-->
                        <div class="numberProgress" [ngStyle]="{'position': 'absolute', 
                        'top': arrHandle[1] == 100 ? '24%':'29%'}">{{arrHandle[1]}}%</div>
                        <!--___Progress animation___-->
                        <label [ngClass]="['container', arrHandle[1] == 100 ? 'progressStop': 'progressStart']">
                            <div class="container checkDiv" [ngStyle]="{'display': arrHandle[1] != 100 ? 'none': 'block'}">
                                <div class="container check-icon"></div>
                            </div>
                        </label>
                    </div>
    
                    <div style="margin-top:20px;">
                        <p class="paMessLoading" *ngIf="arrHandle[1] != 100">{{arrHandle[2]}}</p>
                        <p class="paMessLoading" *ngIf="arrHandle[1] == 100">{{arrHandle[2]}}</p>
                        <div style="display: flex;justify-content: center;" *ngIf="arrHandle[1] == 100">
                            <button class="btn btn-primary btnfinishUpload" (click)="conditionFixDiv=false">Finish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--______________________Navigation clicked______________________-->
    <div class="container-fluid naviclicked" *ngIf="condition_menu">
        <div class="container-fluid" style="padding:20px 0px 0px 0px;">
            <div class="container" style="display:flex;justify-content: space-between;">
                <div class="conX conX-font" (click)="condition_menu = false">
                    <span>x</span>
                </div>
                <div class="divLogoCorner">
                    <img src="/assets/logo/logo.png" class="img-fluid" style="max-width: 50px;max-height:50px;position: relative;top:-15px;" />
                </div>
            </div>
            <div class="container" style="color:white;">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="divborder1">
                            <div class="navclickable navclickable-font" (click)="burger_navigation('home')"><span style="cursor: pointer;">Home</span></div>
                        </div>
                        <div class="divborder1">
                            <div class="navclickable navclickable-font" (click)="burger_navigation('Facilities')"><span style="cursor: pointer;">Facilities</span></div>
                        </div>
                        <div class="divborder1">
                            <div class="navclickable navclickable-font" (click)="burger_navigation('rooms')"><span style="cursor: pointer;">Rooms</span></div>
                        </div>
                        <div class="divborder1">
                            <div class="navclickable navclickable-font" (click)="burger_navigation('About')"><span style="cursor: pointer;">About</span></div>
                        </div>
                        <div class="divborder1">
                            <div class="navclickable navclickable-font" (click)="burger_navigation('contact-us')"><span style="cursor: pointer;">Contact Us</span></div>
                        </div>

                        <div class="divborder1">
                            <div class="navclickable navclickable-font" (click)="condition_menu = false"><span style="cursor: pointer;">Your Account</span></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12" style="display:flex;justify-content: center;align-items: center;">
                        <div class="logomenu">
                            <img src="/assets/logo/logo.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--_____________ACCOUNT SETTINGS_______________________-->
    <div class="container" style="max-width:1350px;">

        <!--___________Header_____________-->
        <div class="header">

            <!--___Menu bar___-->
            <div style="display: flex;align-items: center;">
                <img src="/assets/icon/menu1.png" class="img-fluid imgBurger" (click)="condition_menu = true"/>
            </div>

            <!--___Logo___-->
            <img src="/assets/logo/logo.png" class="img-fluid logo" />
        </div>


        
        <div style="padding-bottom: 40px;">
            <!--_____child header info______-->
            <div style="margin-bottom: 30px;">
                <p class="paAcc paAcc-font">Account Setting</p>
                <span class="paAccInfo paAccInfo-font">See all the information, transaction of your account.</span>
            </div>

            <!--___SELECTION AND COMPONENT___-->
            <div style="min-height:600px;background:#F9FAFD;display: flex;">


                <!--________SELECTION__________-->
                <div class="compo_selection">

                    <div class="selection" [ngStyle]="{'background': condition_component == 0 ? '#FEE2BB': ''}" (click)="navigation(0)">
                        <div style="display: flex;align-items: center;">
                            <img src="/assets/icon/inbox_admin.png" class="img-fluid" style="height: 18px;" />
                        </div>
                        
                        <span class="paNavigation">Notification</span>
                    </div>


                    <div class="selection" [ngStyle]="{'background': condition_component == 1 ? '#FEE2BB': ''}" (click)="navigation(1)">
                        <div style="display: flex;align-items: center;">
                            <img src="/assets/icon/appointment.png" class="img-fluid" style="height: 28px;" />
                        </div>
                        
                        <span class="paNavigation">Appointment</span>
                    </div>

                    <div class="selection" [ngStyle]="{'background': condition_component == 2 ? '#FEE2BB': ''}" (click)="navigation(2)">
                        <div style="display: flex;align-items: center;">
                            <img src="/assets/icon/reservation.png" class="img-fluid" style="height: 30px;" />
                        </div>
                        
                        <span class="paNavigation">Reservation</span>
                    </div>

                    <div class="selection" [ngStyle]="{'background': condition_component == 3 ? '#FEE2BB': ''}" (click)="navigation(3)">
                        <div style="display: flex;align-items: center;">
                            <img src="/assets/icon/archive.png" class="img-fluid" style="height: 28px;" />
                        </div>
                        
                        <span class="paNavigation">Archives</span>
                    </div>

                    <div class="selection" [ngStyle]="{'background': condition_component == 4 ? '#FEE2BB': ''}" (click)="navigation(4)">
                        <div style="display: flex;align-items: center;">
                            <img src="/assets/icon/account_admin.png" class="img-fluid" style="height: 28px;" />
                        </div>
                        
                        <span class="paNavigation">Account details</span>
                    </div>

                    <div class="selection bttnL" (click)="logout()">
                        <div style="display: flex;align-items: center;">
                            <img src="/assets/icon/logout.png" class="img-fluid" style="height: 28px;" />
                        </div>
                    </div>

                    <button class="btn btn-primary bttn_logout bttn_logout-none" (click)="logout()">Logout</button>

                </div>


                <!--__________COMPONENT__________-->
                <div class="routers" style="width:100%;padding:0%;">
                    <app-notification *ngIf="condition_component == 0"></app-notification>
                    <app-appointment *ngIf="condition_component == 1"></app-appointment>
                    <app-reservation *ngIf="condition_component == 2"></app-reservation>
                    <app-archive *ngIf="condition_component == 3"></app-archive>
                    <app-details *ngIf="condition_component == 4"></app-details>
                </div>
            </div>
        </div>

    </div>
</div>
