.divFix{
    width:100%;
    height:100vh;
    background:#1F1F1F;
    z-index: 100;
    display: flex;
    align-items: center;
    position: fixed;
    left:0%; top:0%;
}

.naviclicked{
    height:100vh;
    padding:0px;
    z-index:3;
    padding-top:50px;
    background:#493B3B;
    position:fixed;
}

.conX{
    color:white;
    font-family: inter_bold;
    margin-bottom:40px;
    cursor: pointer;
}

.conX-font{
    font-size:30px;
}

.divLogoCorner{
    display:none;
}

.logomenu{
    max-width:400px;
    max-height:400px;
    display:block;
}

.divborder1{
    border-top:1px solid #747272;
    padding-top:23px;
    padding-bottom:23px;
}

.navclickable{
    font-family: inria_serif_bold;
    padding-left:20px;
    padding-right:20px;
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
}

.navclickable-font{
    font-size:30px;
}

.fixedDiv{
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.245);
    z-index:5;
    position:fixed;
}

.paX{
    font-family: inter_bold;
    padding-top:10px;
    cursor: pointer;
}

.paX-font{
    font-size:20px; 
}

.chPass{
    max-width: 500px;
    background:white;
    border-radius:10px;
    padding:0px 10px 10px 10px;
}

.paForgotPass{
    margin-top:-5px;
    font-family: inter_bold;
    text-align: center;
    color:#0063A8;
    margin-bottom:15px;
}

.paForgotPass-font{
    font-size:23px;
}

.forminputReg{
    border-radius: 10px;
    border:none;
    border:2px solid black;
    padding: 10px 15px 10px 15px;
}

.pass_padding{
    padding-right:45px;
}

.eye_pass{
    height:30px;
    cursor: pointer;
    position: absolute;
    top:10px;right:10px;
}

.forminputReg-font{
    font-size:17px;
}

.paError{
    font-family: inter_bold;
    font-size:14px;
    color:rgb(216, 67, 67);
}

.passwordChange{
    width:100%;
    border-radius:20px;
    font-family: inter_medium;
    background:#FFD700;
    text-align: center;
    border:none;
    color:black;
    padding: 10px 0px 10px 0px;
    margin-top:10px;
}

.passwordChange-font{
    font-size:16px;
}

.divSuccesschangePass{
    max-width:500px;
    max-height:250px;
    padding:30px 20px 30px 20px;
    background:white;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paSuccessChange{
    width: 80%;
    margin:0px 0px 10px 0px;
    font-family: inter_bold;
    font-size:20px;
    text-align: center;
    color:#0063A8;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
}

.paAcc{
    font-family: inter_bold;
    color:#0063A8;
    margin-bottom:20px;
}

.paAcc-font{
    font-size:32px;
}

.paAccInfo{
    font-family: inter_regular;
}

.paAccInfo-font{
    font-size:18px;
}


.compo_selection{
    width: 300px;
    background:white;
    border-right:4px solid #F1F1F1;
    padding:20px;

}

.router{
    width:100%;
    overflow-x: scroll;
}

.selection{
    display: flex;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.paNavigation{
    font-family: inter_medium;
    font-size:17px;
    margin:0px 0px 0px 10px;
    display: block;
}


.bttn_logout{
    width: 100%;
    font-family: inter_semibold;
    font-size:16px;
    text-align: center;
    border-radius: 25px;
    background:#FFD700;
    border:none;
    padding:13px;
    color:black;
    margin-top: 15px;
}

.bttn_logout-none{
    display: block;
}

.havePopup{
    max-width: 400px;
    min-height:100px;
    display: flex;
    justify-content: center;
}

.boxHS{
    max-width:350px;
    min-height:130px;
    background:white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.247);
    padding:20px 20px 10px 20px;    
}

.paCancel{
    font-family: inter_medium;
    font-size:18px;
}

.paMe{
    font-family: inter_regular;
    font-size:13px;
    line-height: 120%;
    margin-bottom: 20px;
}

.paYes{
    font-family: inter_bold;
    padding:0px 20px 0px 20px;
    margin-right:5px;
    font-size:13px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.paYes:hover{
    background:rgb(240, 215, 215);
    color:rgb(237, 52, 52);
}

.paNo{
    font-family: inter_bold;
    padding:5px 20px 5px 20px;
    font-size:13px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.paNo:hover{
    background:rgb(240, 215, 215);
    color:rgb(237, 52, 52);
}

.divProgress{
    width:350px;
    min-height:240px;
    padding:20px;
    background:rgb(255, 255, 255);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.247);
    display: grid;
    place-items:center;
}

.progressStart{
    position: relative;
    height: 125px;
    max-width: 125px;
    border: 5px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-left-color: #5cb85c;
    animation: rotate 0.9s linear infinite;
    display: grid;
    place-items: center;
}

.progressStop{
    position: relative;
    height: 125px;
    max-width: 125px;
    border: 5px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-left-color: #5cb85c;
    animation: ends 0.8s linear;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
    display: grid;
    place-items: center;
    overflow: hidden;
}

@keyframes ends{
    50%{
        border-left-color: #e89726;
        border-top-color: #e89726;
    }
    75%{
        border-left-color: #e89726;
        border-top-color: #e89726;
        border-right-color: #e89726;
    }
    100%{
        border-top-color: #e89726;
        border-left-color: #e89726;
        border-bottom-color: #e89726;
        border-right-color: #e89726;
    }
}

@keyframes rotate {
    50%{
      border-left-color: #9b59b6;
    }
    75%{
      border-left-color: #e67e22;
    }
    100%{
      transform: rotate(360deg);
    }
}

.checkDiv{
    height: 100%;
    background: white;
}

.check-icon:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 28px;
    transform: scaleX(-1) rotate(135deg);
    height: 56px;
    width: 28px;
    border-top: 5px solid #5cb85c;
    border-right: 5px solid #5cb85c;
    transform-origin: left top;
    animation: check-icon 0.8s ease;
}

@keyframes check-icon {
    0%{
      height: 0;
      width: 0;
      opacity: 1;
    }
    20%{
      height: 0;
      width: 28px;
      opacity: 1;
    }
    40%{
      height: 56px;
      width: 28px;
      opacity: 1;
    }
    100%{
      height: 56px;
      width: 28px;
      opacity: 1;
    }
}

.paMessLoading{
    font-family: inter_regular;
    font-size:14px;
    text-align: center;
    margin:0%;
}

.numberProgress{
    width:100%;
    display: grid;
    place-items: center;
}

.btnfinishUpload{
    background:#FFD700;
    border-radius:10px;
    font-family: inter_medium;
    font-size:14px;
    width:100px;
    color:black;
    border:none;
    margin-top:10px;
}

.imgBurger{
    height: 40px;cursor: pointer;
}

.logo{
    height: 100px;
}

.bttnL{
    display: none;
}

/* ________________________@MEDIA DESIGN_________________________ */

/*992px for middle col-lg*/
@media (max-width:992px){
    .divLogoCorner{
        display: block;
    }

    .logomenu{
        display:none;
    }

}

/*768px for small col-sm*/
@media (max-width: 768px){
    .paAcc{
        font-family: inter_bold;
        color:#0063A8;
        margin-bottom:10px;
    }

    .naviclicked{
        min-height:100vh;
        padding:0px;
        z-index:100;
        padding-top:10px;
        background:#493B3B;
        position:fixed;
    }

    .imgBurger{
        max-height:30px;
        cursor: pointer;
    }

    .logo{
        height: 70px;
    }

    .conX-font{
        font-size:26px;
    }

    .navclickable-font{
        font-size:25px; 
    }

    .paAcc-font{
        font-size:25px;
    }

    .paAccInfo-font{
        font-size:15px;
    }
    
    .paNavigation{
        display: none;
    }
    
    .bttnL{
        display: block;
    }
    
    .compo_selection{
        width: 65px;
        background:white;
        border-right:4px solid #F1F1F1;
        padding:10px;
    }

    .bttn_logout-none{
        display: none;
    }
}

/*___Mobile___*/
@media (max-width: 550px){
    .paAcc-font{
        font-size:20px;
    }

    .paAccInfo-font{
        font-size:14px;
    }

    .compo_selection{
        min-width: 60px;
        display: block;
        background:white;
        border-right:4px solid #F1F1F1;
        padding:5px;
    }


    .paX-font{
        font-size:18px; 
    }    

    .paForgotPass-font{
        font-size:20px;
    }

    .forminputReg-font{
        font-size:15px;
    }

    .passwordChange-font{
        font-size:14px;
    }

    .pass_padding{
        padding-right:38px;
    }
    
    .eye_pass{
        height:25px;
        cursor: pointer;
        position: absolute;
        top:10px;right:10px;
    }
}