.paAppo{
    font-family: inter_bold;
    font-size:25px;
    margin: 0%;
    color:#493B3B;
}

.pNumbs{
    font-family: inter_medium;
    font-size:14px;
}

.leftRight{
    width:75px;
    height:35px;
    border-radius:5px;
    margin-right:2px;
    border:1px solid #c7cace;

}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0%;
    border-right:1px solid #c7cace;
    cursor: pointer;
}

.left:hover{
    background:#B3E5FC;;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0%;
    cursor: pointer;
}

.right:hover{
    background:#B3E5FC;;
}

.divAppParent{
    min-height:100px;
    border:2px solid #F1F1F1;
    background:white;
    padding:15px;
}

.new{
    padding:3px 15px 3px 15px;
    margin-right: 10px;
    border-radius: 10px;
    background:#F63030;
    color:white;
    font-family: inter_medium;
    font-size:14px;
}

.nameHeader{
    font-family: inter_semibold;
    font-size:16px;
    color:#3D3A3A;
}


.paMessage{
    max-height:50px;
    overflow: hidden;
    font-family: inter_regular;
    font-size:16px;
    color:#4b4949;
    margin:0px 0px 5px 0px;
}

.paDate{
    font-family: inter_medium;
    font-size:14px;
    color:#4b4949;
}

.xDateBttn{
    font-family: inter_semibold;
    font-size:19px;
    cursor: pointer;
    color:black;
}

.details_cancel{
    font-family: inter_regular;
    font-size:15px;
    color:#0063A8;
    margin:0%;
    text-decoration: underline;
    cursor: pointer;
}

.selectedID{
    background:white;
    padding:20px;
}

.paNameSelected{
    font-family: inter_semibold;
    font-size:18px;
    margin-left:15px;
    color:#3D3A3A;
}

.paDateSelected{
    font-family: inter_regular;
    font-size:16px;
    color:#0063A8;
    margin:0px 0px 20px 0px;
}

.details{
    font-family: inter_regular;
    font-size:16px;
    margin:0%;
}

.headerInfos{
    font-family: inter_semibold;
    font-size:17px;
    margin:15px 0px 10px 0px;
}