
<div *ngIf="condition_expiredNot === 'false'" class="container-fluid" style="min-height:100vh;padding: 0%;background:#F2F3F6;z-index: 10;">

    <!--_______HEADER_______-->
    <div class="headers" style="background:#373434;">
        <div class="container headerPayment">
            <span class="paPaymentSect paPaymentSect-font">Payment details</span>
            <img src="/assets/logo/logo.png" class="img-fluid imgLogo">
        </div>
    </div>

    <!--_______PAYMENT DETAILS_______-->
    <div class="container" style="max-width:1230px;padding:15px 10px 15px 10px;">
        <div class="details_payment">
            <img src="/assets/icon/watermark.png" class="img-fluid imgwatermark" />

            <p class="paReD paNote-font">Transaction ID: {{token_converted_data[0]}}</p>
            <p class="paReD paNote-font">Name of room: {{token_converted_data[1]}}</p>
            <p class="paReD paNote-font">Type of room: {{token_converted_data[2]}} Type</p>
            <p class="paReD paNote-font">Number of Pax: {{token_converted_data[3]}}</p>
            <p class="paReD paNote-font">Payment Method: {{token_converted_data[4]}}</p>

            <!--_________BODY_____________-->
            <div>

                <!-- __INFORMATION OF RESERVATION__ -->
                <div style="margin-bottom:15px;">
                    <p class="paRInfoT paRInfoT-font">Information of reservation:</p>

                    <div class="row flex-column-reverse flex-lg-row" style="padding:0%;margin-top:5px;">

                        <!--__filled information__-->
                        <div class="col-lg-6 col-12">
                            <div style="margin-top:10px;">
                                
                                <div class="row">
                                    <div class="col-6">
                                        <label class="labels">First name:</label>
                                        <input type="labels_T"  [value]="token_converted_data[5]" class="form-control forminputs" />
                                    </div>
                                    <div class="col-6">
                                        <label class="labels">Last name:</label>
                                        <input type="labels_T" [value]="token_converted_data[6]" class="form-control forminputs" />
                                    </div>
                                    <div class="col-12" style="margin-top:10px;">
                                        <label class="labels_T">Email:</label>
                                        <input type="text" [value]="token_converted_data[7]" class="form-control forminputs" />
                                    </div>
                                    <div class="col-12" style="margin-top:10px;">
                                        <label class="labels_T">Contact number:</label>
                                        <input type="text" [value]="token_converted_data[8]" class="form-control forminputs" />
                                    </div>
                                    <div class="col-12" style="margin-top:10px;">
                                        <p class="paRInfoT paRInfoT-font">Guest info:</p>
                                        <span *ngIf="token_converted_data[9].length == 0" >No guest info filled up.</span>

                                        <table *ngIf="token_converted_data[9].split('\n')[0].length != 0" class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Full name</th>
                                                <th scope="col">Contact-number</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let guestInfo of token_converted_data[9].split('\n'); index as indexes">
                                                <th scope="row">{{(indexes+1)}}</th>
                                                <td>{{guestInfo.split(',')[0]}}</td>
                                                <td>{{guestInfo.split(',')[1]}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div *ngIf="conditionPrint" class="col-12" style="margin-top:20px;display: flex;justify-content: center;">
                                        <button class="btn btn-primary print" (click)="printing()" >Print details</button>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        
                        <!--__details of reservation including "confirmation date"__-->
                        <div class="col-lg-6 col-12">
                            <div class="divDetails">

                                <div style="display: flex;justify-content: center;">

                                    <!--____Check in____-->
                                    <div class="divCheckInOut" style="margin-right:20px;">
                                        <p class="paCheckINOut" style="font-family: inter_bold; color:#FFD700;">CHECK IN</p>
                                        <p class="paNumbCheckInOut">{{token_converted_data[10]}}</p>
                                        <p class="paCheckINOuts" style="font-family: inter_regular;color:white">
                                            {{token_converted_data[11]}}
                                        </p>
                                    </div>

                                    <!--____Check out____-->
                                    <div class="divCheckInOut">
                                        <p class="paCheckINOut" style="font-family: inter_bold; color:#FFD700;">CHECK OUT</p>
                                        <p class="paNumbCheckInOut">{{token_converted_data[12]}}</p>
                                        <p class="paCheckINOuts" style="font-family: inter_regular;color:white">
                                            {{token_converted_data[13]}}
                                        </p>
                                    </div>
                                </div>

                                <div style="margin:15px 0px 0px 0px;">
                                    <p style="text-align: center;color:white;font-size:14px;font-family: inter_medium;">Start from 2 pm to 12 noon</p>
                                </div>

                                <!--___DETAILS___-->
                                <div style="margin-top:20px;">
                                    <div class="pdetails pdetails-font">Details</div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_medium !important;">Transaction paid date</span>
                                        <span>{{token_converted_data[14]}}</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_bold !important;">Incidental fee: </span>
                                        <span style="font-family: inter_bold !important;">php 1500.00</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_regular !important;">Rate (Per Day):</span>
                                        <span>php {{token_converted_data[15]}}</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_bold !important;">x {{token_converted_data[16]}}</span>
                                        <span style="font-family: inter_bold !important;">php {{token_converted_data[17]}}</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_medium !important;">Rate for Additional Pax:</span>
                                        <span>php {{token_converted_data[18]}}</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_bold !important;">x {{token_converted_data[19]}}</span>
                                        <span style="font-family: inter_bold !important;">php {{token_converted_data[20]}}</span>
                                    </div>

                                    <div class="pdetailsSub paDetailsMiddle-font" style="margin-top:10px;margin-bottom:10px;display: flex;justify-content: space-between;background:#5C5656 !important;">
                                        <span>Subtotal</span>
                                        <span>php {{token_converted_data[21]}}.00</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_bold !important;">Reservation fee: </span>
                                        <span style="font-family: inter_bold !important;">php -1000.00</span>
                                    </div>

                                    <div class="pdetails pdetails-font" style="margin-top:10px;display: flex;justify-content: space-between;background:#5C5656 !important;">
                                        <span>Total</span>
                                        <span>php {{token_converted_data[22]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

</div>


<!--____Expired_____-->
<div *ngIf="condition_expiredNot === 'true'" class="container-fluid" style="padding:0%;background:#493B3B;">
    <div class="expiredDiv">
        <div class="container"  style="max-width: 1170px;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12" style="display: grid;place-items: center;">
                    <p class="paOops">Oops.. The page you trying to reach is not found.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div style="display: flex;justify-content: center;align-items: center;">
                        <img src="/assets/icon/expired_icon.png" class="img-fluid expiredImg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>