.paAppo{
    font-family: inter_bold;
    margin-bottom: 8px;
    color:#493B3B;
}

.paAppo-font{
    font-size:25px;
}

.pNumbs{
    font-family: inter_medium;
    font-size:14px;
}

.leftRight{
    width:75px;
    height:35px;
    border-radius:5px;
    margin-right:2px;
    border:1px solid #c7cace;

}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0%;
    border-right:1px solid #c7cace;
    cursor: pointer;
}

.left:hover{
    background:#B3E5FC;;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0%;
    cursor: pointer;
}

.right:hover{
    background:#B3E5FC;;
}

.divAppParent{
    min-height:100px;
    border:2px solid #F1F1F1;
    background:white;
    padding:15px;
}

.new{
    padding:3px 15px 3px 15px;
    margin-right: 10px;
    border-radius: 10px;
    background:#F63030;
    color:white;
    font-family: inter_medium;
    font-size:14px;
}

.nameHeader{
    font-family: inter_semibold;
    color:#3D3A3A;
}

.nameHeader-font{
    font-size:16px;
}

.paMessage{
    max-height:50px;
    overflow: hidden;
    font-family: inter_regular;
    color:#4b4949;
    margin:0px 0px 5px 0px;
}

.paMessage-font{
    font-size:16px;
}

.paDate{
    font-family: inter_medium;
    font-size:14px;
    color:#4b4949;
}

.xDateBttn{
    font-family: inter_semibold;
    cursor: pointer;
    color:black;
}

.xDateBttn-font{
    font-size:19px;
}

.details_cancel{
    font-family: inter_regular;
    color:#0063A8;
    margin:0%;
    text-decoration: underline;
    cursor: pointer;
}

.details_cancel-font{
    font-size:15px;
}

.selectedID{
    background:white;
    padding:20px;
}

.paNameSelected{
    font-family: inter_semibold;
    margin-left:15px;
    color:#3D3A3A;
}

.paNameSelected-font{
    font-size:18px;
}

.paDateSelected{
    font-family: inter_regular;
    font-size:16px;
    color:#0063A8;
    margin:0px 0px 20px 0px;
}

.details{
    font-family: inter_regular;
    font-size:16px;
    margin:0%;
}

.btnUpdateImage{
    font-family: inter_semibold;
    background: none;
    border:2px solid black;
    color:black;
    padding:10px 30px 10px 30px;
    margin-right:15px;
    border-radius:10px;
}

.btnUpdateImage-width{
    font-size:15px;
}

.btnCancelRequest{
    font-family: inter_semibold;
    padding:10px 30px 10px 30px;
    border-radius:10px;
}

.btnCancelRequest-width{
    font-size:15px;
}

.pa_header_body{
    margin:0px 0px 5px 0px;
}

.pa_header_body-font{
    font-size: 16px;
}

.imageAddDiv{
    padding:15px;
    border: 3px solid #F1F1F1;
    margin-bottom:10px;
}

.paImageS{
    font-family: inter_semibold;
    font-size:18px;
}

.paLMes{
    font-family: inter_regular;
    font-size:14px;
    margin:0%;
}

.divForAdded{
    max-height:300px;
    overflow: auto;
}

.addImageR{
    width:136px;
    height:120px;
    border-radius:5px;
    overflow:hidden;
    display: inline-block;
    margin-right:10px;
    margin-top:5px;
    background:black;
}

.addChildIR{
    display: flex;
    justify-content: center;
    height:100%;
    position: relative;
}

.paUpload{
    font-family: inter_regular;
    font-size:14px;
    margin:0px 0px 10px 0px;
    text-align: center;
}

.disImageDelete{
    display: none;
}

.addImageR:hover > .addChildIR > .disImageDelete{
    display: block;
}

.deleteImage{
    height:100%;
    width:100%;
    background:rgba(255, 255, 255, 0.4);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;left:0px;
}

.imgD{
    margin-right:10px;
    border-radius:10px;
    padding:5px;
    background:#18e318;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.deleteD{
    border-radius:10px;
    padding:5px;
    background:#DC3545;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.paRInfoT{
    font-family:inter_semibold;
    margin:20px 0px 5px 0px;
}

.paRInfoT-font{
    font-size:19px;
}

.labels{
    font-family: inter_medium;
    font-size:15px;
    margin-bottom:5px;
}

.forminputs{
    height:35px;
    border-radius: 10px;
    padding:10px;
    font-family: inter_regular;
    background:rgb(246, 246, 246);
}

.forminputs-font{
    font-size:15px;
}

.divDetails{
    min-height:100px;
    background-color:#493D3D;
    border-radius:10px;
    padding:20px;
}

.divCheckInOut{
    max-width: 170px;
    border-radius:10px;
    border:1px solid #FFD700;
    padding:20px;
}

.paCheckINOut{
    margin-bottom:10px;
    text-align: center;
    font-size:14px;
}

.paCheckINOuts{
    margin: 0%;
    text-align: center;
    font-size:14px;
}

.paNumbCheckInOut{
    margin-bottom:10px;
    text-align: center;
    font-family: inter_regular;
    color:white;
}

.paNumbCheckInOut-font{
    font-size:30px;
}

.pdetails{
    padding:10px;
    font-family: inter_bold;
    border-top:1px solid #9D9D9D;
    border-bottom:1px solid #9D9D9D;
    color:white;
}

.pdetailsSub{
    padding:10px;
    font-family: inter_bold;
    border-top:1px solid #9D9D9D;
    border-bottom:1px solid #9D9D9D;
    color:white;
}

.pdetails-font{
    font-size:17px;
}


.paDetailsMiddle{
    display: flex;
    justify-content: space-between;
    color:white;
    font-family: inter_regular;
    padding:5px 10px 2px 10px;
}

.paDetailsMiddle-font{
    font-size:15px;
}

.print{
    border-radius:20px;
    font-family: inter_medium;
    background:#FFD700;
    text-align: center;
    border:none;
    color:black;
    padding: 10px 0px 10px 0px;
    margin-top:5px;
}

.print-width{
    width:50%;
    font-size:15px;
}


.selectionD{
    font-size: 16px;
    display: flex;
}

.selectionMT{
    display: none;
}

.mess{
    font-size:16px;
}

.backArrow{
    height:20px;
}

.bttnbttnb{
    display: flex;justify-content: center;
}

.imgwatermark{
    min-height:100%;min-width:100%;position: absolute;
    display: none;
}

/* ________________________@MEDIA DESIGN_________________________ */

@page { size: auto;  margin: 0mm; }

@media print{
    body *:not(#printingD):not(#printingD *){
        visibility: hidden;
    }

    #printingD{
        height: 100%;
        position: absolute;
        top:0;left:0;
    }

    .imgwatermark{
        z-index:10;
        min-height:100%;min-width:100%;position: absolute;
        display: block;
        opacity: 0.1;
    }

    .divDetails{
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact !important;
        min-height:100px;
        background-color:#493D3D !important;
        border-radius:10px;
        padding:20px;
    }

    .forminputs{
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact !important;
        height:35px;
        border-radius: 10px;
        padding:10px;
        font-size:15px;
        font-family: inter_regular;
        background:rgb(246, 246, 246);
    }
}

/*992px for middle col-lg*/
@media (max-width:992px){}

@media (max-width:838px){
    .selectionD{
        display: none;
    }

    .selectionMT{
        display: block;
    }
}

/*768px for small col-sm*/
@media (max-width: 768px){
    .paAppo-font{
        font-size:20px;
    }
}

/*___Mobile___*/
@media (max-width: 550px){
    .paAppo-font{
        font-size:17px;
    }

    .mess{
        font-size:13px;
    }

    .pNumbs{
        font-family: inter_medium;
        font-size:13px;
    }

    .leftRight{
        width:75px;
        height:27px;
        border-radius:5px;
        margin-right:2px;
        border:1px solid #c7cace;
    }

    .nameHeader-font{
        font-size:15px;
    }

    .paDate{
        font-family: inter_medium;
        font-size:12px;
        color:#4b4949;
    }

    .details_cancel-font{
        font-size:13px;
    }

    .backArrow{
        height:15px;
    }

    .paNameSelected-font, .paRInfoT-font{
        font-size:16px;
    }

    .xDateBttn-font{
        font-size:15px;
    }

    .paImageS{
        font-family: inter_semibold;
        font-size:16px;
    }

    .paLMes{
        font-family: inter_regular;
        font-size:13px;
        margin:0%;
    }

    .addImageR{
        width:106px;
        height:90px;
        border-radius:5px;
        overflow:hidden;
        display: inline-block;
        margin-right:10px;
        margin-top:5px;
        background:black;
    }

    .paUpload{
        font-family: inter_regular;
        font-size:12px;
        margin:0px 0px 10px 0px;
        text-align: center;
    }
    
    .paCheckINOut{
        margin:0%;
        text-align: center;
        font-size:10px;
    }

    .paNumbCheckInOut-font{
        font-size:20px;
    }

    .paDetailsMiddle-font{
        font-size:13px;
    }

    .forminputs-font{
        font-size:13px;
    }

    .print-width{
        width:100%;
        font-size:14px;
    }

    .btnUpdateImage-width, .btnCancelRequest-width{
        width:100%;
        font-size:14px;  
        margin-bottom: 10px;
    }
    
    .bttnbttnb{
        display: block;
    }

    .loading, .font-f, .paMessage-font, .paDateSelected-font, .pa_header_body-font, .dgDs, .pdetails-font{
        font-size:14px;
    }
}
