<div class="container-fluid" style="padding:20px;">

    <!--____HEADER_____-->
    <div style="margin-bottom: 20px;">
        <p class="paAppo paAppo-font">Reservation</p>
        <span class="mess">All your reservation request. Check everything upon your reservation.</span>
    </div>

    <!--__________Appointment all__________________-->
    <div *ngIf="!selected_condition">

        <!--___HEADER SELECTION and Arrow_____-->
        <div style="display: flex;justify-content: space-between;margin-bottom: 15px;">

            <!--__SELECTION__-->
            <div class="selectionD">
                <div class="form-check" style="margin-right:10px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="clickRadio('pending')" checked>
                    <label class="form-check-label" for="flexRadioDefault1" style="position: relative;top:2px;">
                      Pending
                    </label>
                </div>
                <div class="form-check" style="margin-right:10px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="clickRadio('accepted')">
                    <label class="form-check-label" for="flexRadioDefault2" style="position: relative;top:2px;">
                      Confirmed
                    </label>
                </div>
                <div class="form-check" style="margin-right:10px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" (click)="clickRadio('declined')">
                    <label class="form-check-label" for="flexRadioDefault3" style="position: relative;top:2px;">
                      Declined
                    </label>
                </div>
                <div class="form-check" style="margin-right:10px;">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" (click)="clickRadio('canceled')">
                  <label class="form-check-label" for="flexRadioDefault4" style="position: relative;top:2px;">
                    Canceled
                  </label>
                </div>
            </div>

            <!--___SELECTION MOBILE AND TABLET-->
            <div class="selectionMT">
                <select (change)="chnageR($event)"  class="form-select font-f" aria-label="Default select example">
                    <option selected>Pending</option>
                    <option>Confirmed</option>
                    <option>Declined</option>
                    <option>Canceled</option>
                  </select>                  
            </div>

            <!--__Arrow left and right__-->
            <div style="display: flex;align-items: center;">

                <!--___Count of mail____-->
                <div style="margin-right:20px;">
                    <span class="pNumbs">{{count_for5}}-5 of {{count}}</span>
                </div>


                <!--___LEFT and RIGHT clicks_____-->
                <div class="row leftRight">
                    <div class="col-6 left" (click)="left()">
                        <span><</span>
                    </div>
                    <div class="col-6 right" (click)="right()">
                        <span>></span>
                    </div>
                </div> 
            </div>
        </div>



        <!--________CREATE DIV RESERVATION______________-->
        <div>

            <p class="loading" *ngIf="arr_data.length == 0" style="text-align: center;">
                {{loadingMessage}}
            </p>

            <div *ngFor="let data of arr_data; index as indexes" class="divAppParent">
                
                <!--___HEADER NOTIFI___-->
                <div style="display: flex;justify-content: space-between;margin-bottom: 10px;">    
                    <!--____New and Name_____-->
                    <span class="nameHeader nameHeader-font">{{nomalizeSelected}}</span>

                    <!--____X button or date_____-->
                    <div *ngIf="radioName === 'pending'" class="paDate">{{checking(false, data.transaction_date)}}</div>
                    <div *ngIf="radioName !== 'pending'" class="xDateBttn" (click)="movetoTrash(indexes)">X</div>
                </div>

                <!--_____MIDDLE INFORMATION____-->
                <p class="paMessage paMessage-font">Transaction ID: {{data.transaction_id}}</p>
                <p class="paMessage paMessage-font">Room name: {{data.name_room}}</p>
                <p class="paMessage paMessage-font">Type room: {{data.typeRoom2}}</p>
                <p class="paMessage paMessage-font">Number of Pax: {{data.acquired_persons}}</p>
                <p class="paMessage paMessage-font">Payment method: {{(data.paymentMethod === 'payment1' ? 'Gcash': 'Paypal')}}</p>

                
                <!--_____FOOTER DATE_____-->
                <div style="display: flex;justify-content: space-between;">
                    
                    <!--____PENDING_____-->
                    <div *ngIf="radioName === 'pending'" style="width:100%;display: flex;justify-content: space-between;margin-top:5px;">
                        <p class="details_cancel details_cancel-font" (click)="cancelRequest(indexes)">Cancel request</p>
                        <p class="details_cancel details_cancel-font" (click)="click_details(indexes)">See details</p>
                    </div>

                    <!--____Accepted Declined and Canceled____-->
                    <div *ngIf="radioName !== 'pending'" style="width:100%;display: flex;justify-content: space-between;margin-top:5px;">
                        <p class="details_cancel details_cancel-font" (click)="click_details(indexes)">See details</p>
                        <div class="paDate">{{checking(false, data.transaction_date)}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--________SELECTED DIV_________-->
    <section *ngIf="selected_condition" id="printingD" class="selectedID">
        <img src="/assets/icon/watermark.png" class="img-fluid imgwatermark" />
        
        <!--_______HEADER________-->
        <div *ngIf="!printing_condition" style="display: flex;justify-content:space-between;margin-bottom: 20px;">
            <div style="display: flex;">
                <div>
                    <img src="/assets/icon/arrow_back.png" class="img-fluid backArrow" style="cursor: pointer;" (click)="clickBack_selected()" />
                </div>
                <div class="paNameSelected paNameSelected-font">{{nomalizeSelected}}</div>
            </div>
            <div *ngIf="radioName !== 'pending'" class="xDateBttn xDateBttn-font" (click)="movetoTrash(arr_selected_data[1])">X</div>
        </div>

        <!--______BODY arr_selected_data[1]_______-->
        <div>

            <!--______HEADER______-->
            <div style="margin-bottom: 10px;">
                <p class="pa_header_body pa_header_body-font"><span style="font-family: inter_medium;">Transaction ID</span>: 
                    <span style="font-family: inter_regular;">{{arr_selected_data[0].transaction_id}}</span></p>
                <p class="pa_header_body pa_header_body-font"><span style="font-family: inter_medium;">Room name</span>: 
                    <span style="font-family: inter_regular;">{{arr_selected_data[0].name_room}}</span></p>
                <p class="pa_header_body pa_header_body-font"><span style="font-family: inter_medium;">Type of room</span>: 
                    <span style="font-family: inter_regular;">{{arr_selected_data[0].typeRoom2}}</span></p>
                <p class="pa_header_body pa_header_body-font"><span style="font-family: inter_medium;">Number of Pax</span>: 
                    <span style="font-family: inter_regular;">{{arr_selected_data[0].acquired_persons}}</span></p>
                <p class="pa_header_body pa_header_body-font"><span style="font-family: inter_medium;">Payment method</span>: 
                    <span style="font-family: inter_regular;">{{(arr_selected_data[0].paymentMethod === 'payment1' ? 'Gcash': 'Paypal')}}</span></p>
            </div>


            <!--_________BODY_____________-->
            <div>
                <!-- __ADD IMAGE SECTION__ -->
                <div *ngIf="this.arr_data[0].paymentMethod === 'payment1'" class="imageAddDiv">
                    <span class="paImageS">Image Section:</span>
                    <p class="paLMes">{{radioName === 'pending'? 
                                        'Put your transaction payment pictures here.': 
                                        (this.arr_data[0].image_transaction.length == 0 ? '':'Your provided image transaction.') }}</p>

                    <!-- __IMG ADD__ -->
                    <div class="divForAdded" style="margin-top:15px;">

                        <!--__ADD__-->
                        <div *ngIf="radioName === 'pending' && !printing_condition" class="addImageR" style="background:#DDE1FA;cursor: pointer;">
                            <div style="height:100%;cursor:pointer;display:flex;align-items: center;justify-content: center;position: relative;">

                                <input type="file" style="height:100%;border:1px solid black;cursor:pointer;position: absolute;opacity: 0.0;" 
                                (change)="selectImage($event)"  accept="image/png, image/jpeg" multiple/>

                                <div>
                                    <p class="paUpload" style="cursor:pointer;">Upload image</p>
                                    <div style="display: flex;justify-content: center;">
                                        <img src="/assets/icon/addImage.png" class="img-fluid" type="file" style="height:45px;"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--____No image transaction but accepted____-->
                        <div *ngIf="radioName !== 'pending' && this.arr_data[0].image_transaction.length == 0">
                            <p class="paLMes">No transaction payment picture.</p>
                        </div>

                        <!--___Already added image____-->
                        <div class="addImageR" *ngFor="let data of this.arr_data[0].image_transaction; index as indexes">
                            <div class="addChildIR">
                                <div *ngIf="condition_delete" class="disImageDelete">
                                    <div class="deleteImage">
                                        <div class="imgD">
                                            <img src="/assets/icon/image_r.png" class="img-fluid" style="height:25px;" (click)="img_selected(data[0])"  />
                                        </div>
                                    </div>
                                </div>
                                <img [src]="data[0]" class="img-fluid" style="height:100%;" />
                            </div>
                        </div>


                        <!--__Added Image__ -->
                        <div class="addImageR" *ngFor="let data of arr_image_tempo; index as indexes">
                            <div class="addChildIR">
                                <!-- delete image -->
                                <div *ngIf="condition_delete" class="disImageDelete">
                                    <div class="deleteImage">
                                        <div class="imgD">
                                            <!--(click)="displayImage(indexes)"-->
                                            <img src="/assets/icon/image_r.png" class="img-fluid" style="height:25px;" (click)="img_selected(data)"  />
                                        </div>
                                        <div class="deleteD">
                                            <img src="/assets/icon/trash_white.png" class="img-fluid" style="height:25px;" (click)="deleteImage(indexes)" />
                                        </div>
                                    </div>
                                </div>
                                <img [src]="data" class="img-fluid" style="height:100%;" />
                            </div>
                        </div>
                    </div>
                </div>



                <!-- __INFORMATION OF RESERVATION__ -->
                <div style="margin-bottom:15px;">
                    <p class="paRInfoT paRInfoT-font">Information of reservation:</p>

                    <div class="row flex-column-reverse flex-lg-row" style="padding:0%;margin-top:5px;">

                        <!--__filled information__-->
                        <div class="col-lg-6 col-12">
                            <div style="margin-top:10px;">
                                
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label class="labels">First name:</label>
                                        <input type="text"  [value]="arr_selected_data[0].first_name" class="form-control forminputs forminputs-font" />
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <label class="labels">Last name:</label>
                                        <input type="text" [value]="arr_selected_data[0].last_name" class="form-control forminputs forminputs-font" />
                                    </div>
                                    <div class="col-12" style="margin-top:10px;">
                                        <label class="labels">Email:</label>
                                        <input type="text" [value]="arr_selected_data[0].email" class="form-control forminputs forminputs-font" />
                                    </div>
                                    <div class="col-12" style="margin-top:10px;">
                                        <label class="labels">Contact number:</label>
                                        <input type="text" [value]="arr_selected_data[0].phone_number" class="form-control forminputs forminputs-font" />
                                    </div>
                                    <div class="col-12" style="margin-top:10px;">
                                        <p class="paRInfoT paRInfoT-font">Guest info:</p>
                                        <span *ngIf="arr_selected_data[0].guest_member.split('\n')[0].length == 0" >No guest info filled up.</span>

                                        <table *ngIf="arr_selected_data[0].guest_member.split('\n')[0].length != 0" class="table">
                                            <thead>
                                              <tr>
                                                <th class="dgDs" scope="col">#</th>
                                                <th class="dgDs" scope="col">Full name</th>
                                                <th class="dgDs" scope="col">Contact-number</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let guestInfo of arr_selected_data[0].guest_member.split('\n'); index as indexes">
                                                <th class="dgDs" scope="row">{{(indexes+1)}}</th>
                                                <td class="dgDs" >{{guestInfo.split(',')[0]}}</td>
                                                <td class="dgDs" >{{guestInfo.split(',')[1]}}</td>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div *ngIf="!printing_condition" class="col-12" style="margin-top:20px;display: flex;justify-content: center;">
                                        <button class="btn btn-primary print print-width" (click)="printing()">Print details</button>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        
                        <!--__details of reservation including "confirmation date"__-->
                        <div class="col-lg-6 col-12">
                            <div class="divDetails">

                                <div style="display: flex;justify-content: center;">

                                    <!--____Check in____-->
                                    <div class="divCheckInOut" style="margin-right:20px;">
                                        <p class="paCheckINOut" style="font-family: inter_bold; color:#FFD700;">CHECK IN</p>
                                        <p class="paNumbCheckInOut paNumbCheckInOut-font">{{dateCheckOutCheckIn(arr_selected_data[0].checkin_date, [1])}}</p>
                                        <p class="paCheckINOuts" style="font-family: inter_regular;color:white">
                                            {{dateCheckOutCheckIn(arr_selected_data[0].checkin_date, [0,2])}}
                                        </p>
                                    </div>

                                    <!--____Check out____-->
                                    <div class="divCheckInOut">
                                        <p class="paCheckINOut" style="font-family: inter_bold; color:#FFD700;">CHECK OUT</p>
                                        <p class="paNumbCheckInOut paNumbCheckInOut-font">{{dateCheckOutCheckIn(arr_selected_data[0].checkout_date, [1])}}</p>
                                        <p class="paCheckINOuts" style="font-family: inter_regular;color:white">
                                            {{dateCheckOutCheckIn(arr_selected_data[0].checkout_date, [0,2])}}
                                        </p>
                                    </div>
                                </div>

                                <div style="margin:15px 0px 0px 0px;">
                                    <p style="text-align: center;color:white;font-size:14px;font-family: inter_medium;">Start from 2 pm to 12 noon</p>
                                </div>

                                <!--___DETAILS___-->
                                <div style="margin-top:20px;">
                                    <div class="pdetails pdetails-font">Details</div>

                                    <div *ngIf="arr_selected_data[0].paymentMethod==='payment1'" class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_medium !important;">Confirmation date:</span>
                                        <span>{{arr_selected_data[0].confirmation_date !== '' ? arr_selected_data[0].confirmation_date: 'no-date'}}</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_medium !important;">
                                            {{arr_selected_data[0].paymentMethod==='payment2' ? "Transaction paid date":'Transaction date'}}:</span>
                                        <span>{{arr_selected_data[0].transaction_date}}</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_bold !important;">Incidental fee: </span>
                                        <span style="font-family: inter_bold !important;">php 1500.00</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span>Rate (Per Day):</span>
                                        <span>php {{arr_selected_data[0].defaultPrice}}.00</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_bold !important;">x {{arr_selected_data[0].acquired_days}}</span>
                                        <span style="font-family: inter_bold !important;">php {{arr_selected_data[0].total_day_price}}</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span>Rate for Additional Pax:</span>
                                        <span>php {{arr_selected_data[0].default_personPrice}}</span>
                                    </div>

                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_bold !important;">x {{arr_selected_data[0].addtionalPax_count}}</span>
                                        <span style="font-family: inter_bold !important;">php {{arr_selected_data[0].persons_price}}</span>
                                    </div>


                                    <div class="pdetailsSub paDetailsMiddle-font" style="margin-top:10px;margin-bottom:10px;display: flex;justify-content: space-between;background:#5C5656 !important;">
                                        <span>Subtotal</span>
                                        <span>php {{subTotals(arr_selected_data[0].total_price)}}.00</span>
                                    </div>


                                    <div class="paDetailsMiddle paDetailsMiddle-font">
                                        <span style="font-family: inter_bold !important;">Reservation fee: </span>
                                        <span style="font-family: inter_bold !important;">php -1000.00</span>
                                    </div>


                                    <div class="pdetails paDetailsMiddle-font" style="margin-top:10px;display: flex;justify-content: space-between;background:#5C5656 !important;">
                                        <span>Total</span>
                                        <span>php {{arr_selected_data[0].total_price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>



            <!--_________FOOTER BTTNS____________-->
            <div *ngIf="radioName === 'pending' && !printing_condition" class="bttnbttnb">
                <button *ngIf="condition_ShowUpdate" class="btn btn-primary btnUpdateImage btnUpdateImage-width" (click)="uploadImage()">Update Image</button>
                <button class="btn btn-primary btnCancelRequest btnCancelRequest-width" (click)="cancelRequest(arr_selected_data[1])">Cancel request</button>
            </div>
        </div>
    </section>

</div>
